<%= javascript_include_tag "/assets/views/service_new.js" %>

<!-- First Row -->
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group clearfix">
      <div class="col-sm-12">
        <%= f.label :name, t('computer.name') %>
        <%= f.text_field :name, :class=>"form-control" %>
      </div>
    </div>
  </div>
</div>

<!-- Second Row -->

<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="form-group clearfix">
      <div class="col-sm-12">
        <%= f.label :service_type_id, t('service.service_type_id') %>
        <div class="risk-select width-fix">
          <%= f.collection_select(:service_type_id, ServiceType.all, :id, :name) %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="form-group clearfix">
      <div class="col-sm-12">
        <%= f.label :impact_id, t('computer.impact') %>
        <div class="risk-select width-fix">
          <%= f.collection_select(:impact_id, Priority.all, :id, :name) %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Third Row -->

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group clearfix">
      <div class="col-sm-12">
        <%= f.label :description %>
        <%= f.cktext_area :description, :class=>"form-control asset-big-input" %>
      </div>
    </div>
  </div>
</div>

<div class="clearfix border-divider"></div>

<!-- Fourth Row -->

<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="form-group clearfix">
      <div class="col-sm-12">
        <%= f.label :cost, t('computer.cost') %>
        <%= f.text_field :cost, :class=>"form-control" %>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="form-group clearfix">
      <div class="col-sm-12">
        <%= f.label :sla, t('service.sla') %>
        <%= f.text_field :sla, :class => "form-control risk-normal-input" %>
      </div>
    </div>
  </div>
</div>

<div class="clearfix border-divider"></div>

<!-- Fifth Row -->

<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
    <div class="form-group clearfix">
      <label class="col-sm-4 control-label">
        <%= f.label :department_id, t('service.department_id') %>
      </label>
      <div class="col-sm-8">
        <div class="risk-select">
          <%= f.collection_select(:department_id, current_company.departments, :id, :name) %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
    <div class="form-group clearfix">
      <label class="col-sm-4 control-label">
        <%= f.label :location_id, t('service.location_id') %>
      </label>
      <div class="col-sm-8">
        <div class="risk-select">
          <%= f.collection_select(:location_id, current_company.locations, :id, :name) %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Sixth Row -->

<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
    <div class="form-group clearfix">
      <label class="col-sm-4 control-label">
        <%= f.label :asset_manger_id, t('service.asset_manger_id') %>
      </label>
      <div class="col-sm-8">
        <div class="risk-select">
          <%= f.collection_select(:asset_manager_id, current_company.users, :id, :user_name) %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
    <div class="form-group clearfix">
      <label class="col-sm-4 control-label">
        <%= f.label :asset_user_id, t('service.asset_user_id') %>
      </label>
      <div class="col-sm-8">
        <div class="risk-select">
          <%= f.collection_select(:asset_user_id, current_company.users, :id, :user_name) %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Seventh Row -->

<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
    <div class="form-group clearfix">
      <label class="col-sm-4 control-label">
        <%= f.label :assigned_on, t('service.assigned_on') %>
      </label>
      <div class="col-sm-8">
          <%= f.text_field :assigned_on, :class => "datepicker" %>
      </div>
    </div>
  </div>
</div>

