 <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
 <div id="chart_wrap">
<ul class="col-lg-6 col-sm-6" id="audit_chart">
<% charts.each do |chart|%>
			<li class="db_setting_main" id="<%= chart.id%>">
					<div class="dash_sub_title"><%= chart.name%><span class="setting-icon db_setting"><span class="db_setting_down_icon"></span>
						<div class="db_setting_dropdown">
							<ul>
								<li><a href="#" onclick="chart_destroy(<%= chart.id%>);">Delete</a></li>
							</ul>
						</div>
					</span> </div>
				<div id="chart_<%= chart.id%>"></div>
				<script>
				<% chart_input = chart_input(chart.x_axis)%>
				load_chart("<%= chart.chart_type%>", <%= raw chart_input[0]%>, <%= raw chart_input[1]%>,'chart_'+<%= chart.id%>, "<%= raw chart.y_axis%>","<%= raw chart.x_axis%>")
				</script>
			</li>
<% end %>
		</ul>
		</div>

<script>
var serialStr = [];
$(document).ready(function(){
$( "#audit_chart" ).sortable({
 update: function(){
		serialStr=getItems('#chart_wrap');
	 $.ajax({
					url: "/dashboard/update",
					type: "put",
					beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token',jQuery('meta[name="csrf-token"]').attr("content")); },
					data: {order: serialStr}
					});
  }    
});

function getItems(container)
{
    var columns = [];
 
    $(container+ ' ul#audit_chart').each(function(){
        columns.push($(this).sortable('toArray'));
    });
 
    return columns.join('|');
}
$( "#audit_chart" ).disableSelection();
});
</script>