<div class="step-header">
  <blockquote>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
  </blockquote>
</div>
<hr>
<div class="row">
  <div class="col-lg-6 col-sm-8 col-xs-12">

   <div class="form-group clearfix">
      <label class="col-sm-4 control-label">Attachments</label>
      <div class="col-sm-7">
        <div class="form-group">
          <!-- <div class="btn btn-fresh"> -->
            <%= f.file_field :attachment %>
          <!-- </div> -->
        </div>
      </div>
    </div>

    <div class="form-group clearfix">
      <label class="col-sm-4 control-label">Notes</label>
      <div class="col-sm-7">
        <div class="form-group">
          <%= f.text_area :note %>
        </div>
        <% if @policy.errors[:note].present? %>
          <div class="error_message"><%=  @policy.errors[:note][0]%></div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-sm-8 col-xs-12">
    <div class="form-group clearfix">
      <label class="col-sm-4 control-label">Effective from</label>
      <div class="col-sm-7">
        <div class="form-group">
          <%= f.text_field :effective_from, value: (@policy.effective_from.strftime("%d/%m/%Y") if @policy.effective_from?), :class => "datepicker", :style =>"width:150px;" %>
        </div>
        <% if @policy.errors[:effective_from].present? %>
          <div class="error_message"><%=  @policy.errors[:effective_from][0]%></div>
        <% end %>
      </div>
    </div>

    <div class="form-group clearfix">
      <label class="col-sm-4 control-label">Effective Till</label>
        <div class="col-sm-7">
          <div class="form-group">
            <%= f.text_field :effective_till, value: (@policy.effective_till.strftime("%d/%m/%Y") if @policy.effective_till?), :class => "datepicker", :style =>"width:150px;" %>  
          </div>
          <% if @policy.errors[:effective_till].present? %>
            <div class="error_message"><%=  @policy.errors[:effective_till][0]%></div>
          <% end %>
      </div>
    </div>
    
    <div class="form-group clearfix">
      <label class="col-sm-4 control-label">Expected Publish date</label>
      <div class="col-sm-7">
        <div class="form-group">
          <%= f.text_field :expected_publish_date, value: (@policy.expected_publish_date.strftime("%d/%m/%Y") if @policy.expected_publish_date?), :class => "datepicker", :style =>"width:150px;" %>  
        </div>
        <% if @policy.errors[:expected_publish_date].present? %>
          <div class="error_message"><%=  @policy.errors[:expected_publish_date][0]%></div>
        <% end %>
      </div>
    </div>

    <div class="form-group clearfix">
      <label class="col-sm-4 control-label">Next Review Date</label>
      <div class="col-sm-7">
        <div class="form-group">
          <%= f.text_field :review_within_date, value: (@policy.review_within_date.strftime("%d/%m/%Y") if @policy.review_within_date?), :class => "datepicker", :style =>"width:150px;" %>  
        </div>
        <% if @policy.errors[:review_within_date].present? %>
          <div class="error_message"><%=  @policy.errors[:review_within_date][0]%></div>
        <% end %>
      </div>
    </div>    
  </div>
</div>




