<div class="step-header">
<!--     <blockquote>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote> -->
</div>

<div class="form-inputs">
    <div class="form-group clearfix">
        <label class="col-sm-2 control-label">Title</label>
        <div class="col-sm-9">
          <%= f.text_field :title, class: "audit-normal-input" %>
        </div>
        <% if @policy.errors[:title].present? %>
            <div class="error_message"><%= @policy.errors[:title][0]%></div>
        <% end %>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-6 col-sm-8 col-xs-12">
            <div class="form-group clearfix">
                <label class="col-sm-4 control-label">Kind</label>
                <div class="col-sm-7">
                    <div class="risk-select">
                      <%= f.collection_select(:policy_kind_id, PolicyKind.all, :id, :name, :prompt => true) %>
                    </div>
                    <% if @policy.errors[:policy_kind_id].present? %>
                        <div class="error_message"><%= @policy.errors[:policy_kind_id][0]%></div>
                    <% end %>
                </div>
            </div>
            <div class="form-group clearfix">
            
                <label class="col-sm-4 control-label">Classification</label>
                <div class="col-sm-7">
                    <div class="risk-select">
                      <%= f.collection_select(:policy_classification_id, PolicyClassification.all, :id, :name, :prompt => true) %>
                    </div>
                    <% if @policy.errors[:policy_classification_id].present? %>
                        <div class="error_message"><%= @policy.errors[:policy_classification_id][0]%></div>
                    <% end %>
                </div>
            </div>
            <div class="form-group clearfix">
                <label class="col-sm-4 control-label">Audience</label>
                <div class="col-sm-7">
                    <div class="risk-select">
                        <%= f.collection_select(:audience_id, Audience.all, :id, :name, :prompt => true) %>
                    </div>
                    <% if @policy.errors[:audience_id].present? %>
                        <div class="error_message"><%= @policy.errors[:audience_id][0]%></div>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-8 col-xs-12">
            <div class="form-group clearfix">
                <label class="col-sm-2 control-label">Locations</label>
                <div class="col-md-8">
                    <div id="location-list">
                        <%= f.fields_for :policy_locations, (f.object.policy_locations.present? ? f.object.policy_locations : PolicyLocation.new) do |builder| %>
                        <%= render 'location_fields', policy: @policy, f: builder %>
                        <% end %>
                    </div>
                    <div class="form-group clearfix addissue">
                        <%= link_to_add_policy_location "", :policy_locations %>
                    </div>
                </div>
            </div>
            <div class="form-group clearfix">
                <label class="col-sm-2 control-label">Department</label>
                <div class="col-md-8">
                    <div id="location-list">
                        <%= f.fields_for :policy_departments, (f.object.policy_departments.present? ? f.object.policy_departments : PolicyDepartment.new) do |builder| %>
                        <%= render 'department_fields', policy: @policy, f: builder %>
                        <% end %>
                    </div>
                    <div class="form-group clearfix addissue">
                        <%= link_to_add_policy_department "", :policy_departments %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>