<script src="/assets/outer/highcharts.js"></script>
<script src="/assets/outer/exporting.js"></script>
<script src="/assets/outer/drilldown.js"></script>
<script src="/assets/outer/data.js"></script>
<script src="/assets/outer/highcharts-3d.src.js"></script>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="risk-title">Asset Dashboard</div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="pie chart basic icon"></i> Asset based on type
                </div>
                <div class="panel-body">
                    <div id="container1"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="pie chart basic icon"></i> Assets based on status
                </div>
                <div class="panel-body">
                    <div id="container2"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="pie chart basic icon"></i> Asset based on severity
                </div>
                <div class="panel-body">
                    <div id="container3"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="list layout icon"></i> Inventory Stats
                </div>
                <div class="panel-body">                    
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <i class="fa fa-comment fa-fw"></i> Information Assets
                            <span class="pull-right text-muted small"><em>4 minutes ago</em>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-comment fa-fw"></i> Information Assets
                            <span class="pull-right text-muted small"><em>4 minutes ago</em>
                            </span>
                        </a>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$(function () {
    $('#container2').highcharts({
        chart: {
            type: 'pie',
            options3d: {
                enabled: true,
                alpha: 45,
                beta: 0
            }
        },
        title: {
            text: 'Assets Status'
        },
        credits: {
            enabled: false
        },
        tooltip: {
            valueSuffix: ' assets'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                depth: 35,
                dataLabels: {
                    enabled: true,
                    format: '{point.name}'
                }
            }
        },
       series: [{
            name: 'Count',
            colorByPoint: true,
            data: [<%@asset.each do |c1|%>
                       {
                           name: '<%=c1.state%>',
                           y: <%=c1.count%>,
                           drilldown: '<%=c1.state%>'
                       },
                       <%end%>]
        }],
              drilldown: {
            series: [ 
            <%@asset.each do |c1|%>
            {
                id: '<%=c1.state%>',
                data: [
                <%@asset1.each do |c2|%>
                <% if c1.state == c2.state %>
                    {
                name: '<%= c2.type %>',
                y: <%= c2.count %>,
                drilldown: '<%= c2.type %>'
            },
            <% end %>
            <% end %>
                ]
            }, 
            <% end %>
                  
            ]
        } 
    });
});
</script> 

<script type="text/javascript">
$(function () {
    $('#container1').highcharts({
        chart: {
            type: 'pie',
            options3d: {
                enabled: true,
                alpha: 45,
                beta: 0
            }
        },
        title: {
            text: 'Assets Types'
        },
        credits: {
            enabled: false
        },
        tooltip: {
                       valueSuffix: ' assets'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                depth: 35,
                dataLabels: {
                    enabled: true,
                    format: '{point.name}'
                }
            }
        },
       series: [{
            name: 'Count',
            colorByPoint: true,
            data: [<%@type.each do |c1|%>
                       {
                           name: '<%=c1.name%>',
                           y: <%=c1.count%>,
                           drilldown: '<%=c1.name%>'
                       },
                       <%end%>]
        }],
              drilldown: { 
            series: [ 
                        {
                id: 'Software',
                data: [
                <%@sfttype.each do |c2|%>
                 {
                name: '<%= c2.name %>',
                y: <%= c2.count %>,
                drilldown: '<%= c2.name %>'
            },
             <% end %>
            
                ]
            }, 
            {
                id: 'Document',
                data: [
                <%@doctype.each do |c2|%>
                 {
                name: '<%= c2.name %>',
                y: <%= c2.count %>,
                drilldown: '<%= c2.name %>'
            },
             <% end %>
            
                ]
            }, 
           {
                id: 'Computer',
                data: [
                <%@comptype.each do |c2|%>
                 {
                name: '<%= c2.name %>',
                y: <%= c2.count %>,
                drilldown: '<%= c2.name %>'
            },
             <% end %>
            
                ]
            }, 
            {
                id: 'MobileAsset',
                data: [
                <%@mobtype.each do |c2|%>
                 {
                name: '<%= c2.name %>',
                y: <%= c2.count %>,
                drilldown: '<%= c2.name %>'
            },
             <% end %>
            
                ]
            }, {
                id: 'OtherAsset',
                data: [
                <%@othertype.each do |c2|%>
                 {
                name: '<%= c2.name %>',
                y: <%= c2.count %>,
                drilldown: '<%= c2.name %>'
            },
             <% end %>
            
                ]
            }, {
                id: 'Service',
                data: [
                <%@sertype.each do |c2|%>
                 {
                name: '<%= c2.name %>',
                y: <%= c2.count %>,
                drilldown: '<%= c2.name %>'
            },
             <% end %>
            
                ]
            }
                  
            ]
        } 
    });
});
</script> 

<script type="text/javascript">
$(function () {
    $('#container3').highcharts({
        chart: {
            type: 'pie',
            options3d: {
                enabled: true,
                alpha: 45,
                beta: 0
            }
        },
        title: {
            text: 'Severity Types'
        },
        credits: {
            enabled: false
        },
        tooltip: {
                       valueSuffix: ' assets'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                depth: 35,
                dataLabels: {
                    enabled: true,
                    format: '{point.name}'
                }
            }
        },


       series: [ 
                        {
                id: 'Severity',
                data: [
                <%@severity.each do |c2|%>
                 {
                name: '<%= c2.severity %>',
                y: <%= c2.count %>,
                drilldown: '<%= c2.count %>'
            },
             <% end %>
            
                ]
            } 
                
            ],
              drilldown: {
            series: [ 

            {
                id: 'Software',
                data: [
                <%@sfttype.each do |c2|%>
                 {
                name: '<%= c2.name %>',
                y: <%= c2.count %>,
                drilldown: '<%= c2.name %>'
            },
             <% end %>
            
                ]
            }, 
            {
                id: 'Document',
                data: [
                <%@doctype.each do |c2|%>
                 {
                name: '<%= c2.name %>',
                y: <%= c2.count %>,
                drilldown: '<%= c2.name %>'
            },
             <% end %>
            
                ]
            }, 
           {
                id: 'Computer',
                data: [
                <%@comptype.each do |c2|%>
                 {
                name: '<%= c2.name %>',
                y: <%= c2.count %>,
                drilldown: '<%= c2.name %>'
            },
             <% end %>
            
                ]
            }, 
            {
                id: 'MobileAsset',
                data: [
                <%@mobtype.each do |c2|%>
                 {
                name: '<%= c2.name %>',
                y: <%= c2.count %>,
                drilldown: '<%= c2.name %>'
            },
             <% end %>
            
                ]
            }, {
                id: 'OtherAsset',
                data: [
                <%@othertype.each do |c2|%>
                 {
                name: '<%= c2.name %>',
                y: <%= c2.count %>,
                drilldown: '<%= c2.name %>'
            },
             <% end %>
            
                ]
            }, {
                id: 'Service',
                data: [
                <%@sertype.each do |c2|%>
                 {
                name: '<%= c2.name %>',
                y: <%= c2.count %>,
                drilldown: '<%= c2.name %>'
            },
             <% end %>
            
                ]
            },
                        {
                id: 'Severity',
                data: [
                <%@severity.each do |c2|%>
                 {
                name: '<%= c2.severity %>',
                y: <%= c2.count %>,
                drilldown: '<%= c2.count %>'
            },
             <% end %>
            
                ]
            } 
                
            ]
        } 
    });
});
</script>