<%= javascript_include_tag "/assets/views/computer.js" %>
<div class="page-wrap">
<div class="clearfix"></div>
  <div class="content">
    <div class="container">
      <div class="clearfix"> <a class="import-btn" href="/computers/new"><i class="download-icons"></i>New Computer</a>
      </div>
      <div class="clearfix"> <a class="import-btn" data-toggle="modal" href="#add_url"><i class="download-icons"></i>Import</a>
            <div id="add_url" class="modal fade">
              <div class="modal-dialog modal-dialog_large">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &nbsp; </button>
                    <h4 class="modal-title" id="myModalLabel">Import Computer Assets from CSV/XLSX</h4>
                       <div class="modal-content-inner">
                      <%= form_tag computer_imports_computers_path, multipart: true do %>
                        <%= file_field_tag :file %>
                        <br>
                        <div class="model-footer">
                          <%= submit_tag "Import" ,:class => "black_btn" %>
                          <%= submit_tag "Cancel" ,:class => "orange_btn" %>
                        </div>
                      <% end %>
                    </div>
                    <p></p>
                    <p>
                      <div  class="grey_btn pop-up-gray">
                      <%= link_to "Download Sample Computer CSV Template", computer_export_computers_path(format: "csv"), class: "download-file-icon plus-icon-sp" %>
                    </div>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <div class="row grid">

        <div class="fright set-wrap">
          <div class="form-group audit_search">
            <%= text_field_tag :query, params[:query], :class=>"form-control", :id => "search-value" %>
            <%= submit_tag "Search", name: nil, :class=>"btn btn-default", :id => "search-button" %>
            <a href="javascript:void(0);" class="cancel-btn1">Clear</a>
          </div>
        </div>



        <div id="example">


            <div id="grid" class="k-grid-content"></div>

        </div>
      </div>

      </div>
    </div>
  </div>
</div>
