<%= javascript_include_tag "/assets/views/otherasset_new.js" %>
<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
    <div class="form-group clearfix">
      <label class="col-sm-4 control-label">
       <%= f.label :name, t('other_asset.name') %>
      </label>
      <div class="col-sm-8">
        <%= f.text_field :name, :class => "form-control risk-normal-input" %>
      </div>
      <% if other_asset.errors[:name].present? %>
        <div class="error_message"><%= other_asset.errors[:name][0]%></div>
      <% end %>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
    <div class="form-group clearfix">
      <label class="col-sm-4 control-label">
        <%= f.label :manufacturer, t('other_asset.manufacturer') %>
      </label>
      <div class="col-sm-8">
        <%= f.text_field :manufacturer, :class => "form-control risk-normal-input" %>
      </div>
      <% if other_asset.errors[:manufacturer].present? %>
        <div class="error_message"><%= other_asset.errors[:manufacturer][0]%></div>
      <% end %>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
    <div class="form-group clearfix">
      <label class="col-sm-4 control-label">
       <%= f.label :model, t('other_asset.model') %>
      </label>
      <div class="col-sm-8">
        <%= f.text_field :model,:class => "form-control risk-normal-input" %>
      </div>
      <% if other_asset.errors[:model].present? %>
        <div class="error_message"><%= other_asset.errors[:model][0]%></div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
    <div class="form-group clearfix">
      <label class="col-sm-4 control-label">
       <%= f.label :serial_number, t('other_asset.serial_number') %>

      </label>
      <div class="col-sm-8">
        <%= f.text_field :serial_number, :class => "form-control risk-normal-input" %>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
    <div class="form-group clearfix">
      <label class="col-sm-4 control-label">
			<%= f.label :asset_id, t('other_asset.asset_id') %>
      </label>
      <div class="col-sm-8">
			<%= f.text_field :asset_id, :class => "form-control risk-normal-input" %>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
    <div class="form-group clearfix">
      <label class="col-sm-4 control-label">
     	 <%= f.label :ip, t('other_asset.ip') %>
      </label>
      <div class="col-sm-8">
       	<%= f.text_field :ip, :class => "form-control risk-normal-input" %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
    <div class="form-group clearfix">
      <label class="col-sm-4 control-label">
       <%= f.label :description, t('other_asset.description') %>
      </label>
      <div class="col-sm-8">
        <%= f.text_area :description, :class => "form-control risk-big-input" %>
      </div>
    </div>
  </div>
 </div>


<div class="clearfix border-divider"> </div>

<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
    <div class="form-group clearfix">
      <label class="col-sm-4 control-label">
        <%= f.label :asset_type_id, t('other_asset.asset_type_id')%>
      </label>
      <div class="col-sm-8">
        <div class="risk-select">
          <%= f.collection_select(:asset_type_id, current_company.asset_types, :id, :name) %>
        </div>
        <% if other_asset.errors[:asset_type_id].present? %>
        <div class="error_message"><%= other_asset.errors[:asset_type_id][0]%></div>
      <% end %>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
    <div class="form-group clearfix">
      <label class="col-sm-4 control-label">
        <%= f.label :asset_status_id, t('other_asset.asset_status_id')%>
      </label>
      <div class="col-sm-8">
        <div class="risk-select">
          <%= f.collection_select(:asset_status_id, AssetStatus.all, :id, :name) %>
        </div>
        <% if other_asset.errors[:asset_status_id].present? %>
        <div class="error_message"><%= other_asset.errors[:asset_status_id][0]%></div>
      <% end %>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
    <div class="form-group clearfix">
      <label class="col-sm-4 control-label">
        <%= f.label :asset_owner, t('other_asset.owner') %>
      </label>
      <div class="col-sm-8">
        <div class="risk-select">
          <%= f.collection_select(:asset_owner, current_company.users, :id, :user_name) %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
    <div class="form-group clearfix">
      <label class="col-sm-4 control-label">
        <%= f.label :asset_user, t('other_asset.user') %>
      </label>
      <div class="col-sm-8">
        <div class="risk-select">
          <%= f.collection_select(:asset_user, current_company.users, :id, :user_name) %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
    <div class="form-group clearfix">
      <label class="col-sm-4 control-label">
        <%= f.label :location_id, t('other_asset.location_id') %>
      </label>
      <div class="col-sm-8">
        <div class="risk-select">
          <%= f.collection_select(:location_id, current_company.locations, :id, :name) %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
    <div class="form-group clearfix">
      <label class="col-sm-4 control-label">
        <%= f.label :department_id, t('other_asset.department_id') %>
      </label>
      <div class="col-sm-8">
        <div class="risk-select">
          <%= f.collection_select(:department_id, current_company.departments, :id, :name) %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
    <div class="form-group clearfix">
      <label class="col-sm-4 control-label">
        <%= f.label :maintenance_contract, t('other_asset.maintenance_contract') %>
      </label>
      <div class="col-sm-8">
        <div class="risk-select">
          <%= f.collection_select(:maintenance_contract, current_company.contracts, :id, :name) %>
        </div>
      </div>
    </div>
  </div>


  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
    <div class="form-group clearfix">
      <label class="col-sm-4 control-label">
        <%= f.label :lease_contract, t('other_asset.lease_contract') %>
      </label>
      <div class="col-sm-8">
        <div class="risk-select">
          <%= f.collection_select(:lease_contract, current_company.contracts, :id, :name) %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix border-divider"> </div>
<div class ="row">
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <%= f.fields_for :attachment, (@other_asset.attachment.present? ? @other_asset.attachment : @other_asset.build_attachment) do |attach| %>
      <%= attach.label :attachment, t('other_asset.attachment'), :class => "attach-icon blue_link" %><br />
      <%= attach.file_field :attachment_file, :class=>"risk_attachment", onchange: "display_selected_files(this)" %>
      <%= attach.hidden_field :company_id, :value => "#{current_company.id}"%>
      <br />
      <div id="attach_<%= @other_asset.attachment.id%>"><%= link_to (File.basename(@other_asset.attachment.attachment_file_url)).truncate(20), download_other_asset_document_other_assets_path(id: @other_asset.attachment.id), class: "blue_link risl-blue-link" if @other_asset.attachment.attachment_file_url %>
        <div class="addissue risk-rem"> <%= link_to "Remove", remove_attachment_other_assets_path(id: @other_asset.attachment.id ), data: { confirm: "Are you sure?" }, method: :delete, remote: true, class: "minus-icon" if @other_asset.attachment.attachment_file.present? %>
          </div>
    <% end %>
    <div class="clearfix" id="selected_files"></div>
  </div>
</div>
</div>


<div class="clearfix border-divider"> </div>


<div>
  <%= f.fields_for :lifecycles do |builder| %>
  	<%= render 'lifecycle_fields', other_asset: other_asset, f: builder %>
  <% end %>
  <%= link_to_add_lifecycle_fields "Add New Event", f, :lifecycles, other_asset %>
</div>




<%#= link_to "Attach Files", other_assets_path%>