<%= javascript_include_tag "/assets/outer/jquery.tagsinput.min.js" %>

<%= f.fields_for :asset do |ff| %>
  <%= render partial: "asset_partials/asset_properties", :locals => {:ff => ff } %>
<% end %>

<div class="clearfix">
  <h4><b>Other Asset Properties</b></h4>
</div>

<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="form-group clearfix">
      <div class="col-sm-12">
        <%= f.label :asset_type_id, t('other_asset.asset_type_id')%>
        <div class="risk-select width-fix">
          <%= f.collection_select(:asset_type_id, current_company.asset_types, :id, :name) %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="form-group clearfix">
      <div class="col-sm-12">
        <%= f.label :asset_status_id, t('other_asset.asset_status_id')%>
        <div class="risk-select width-fix">
          <%= f.collection_select(:asset_status_id, AssetStatus.all, :id, :name) %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="form-group clearfix">
      <div class="col-sm-12">
        <%= f.label :manufacturer, t('other_asset.manufacturer') %>        
        <%= f.text_field :manufacturer, :class => "form-control risk-normal-input" %>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="form-group clearfix">
      <div class="col-sm-12">
        <%= f.label :model, t('other_asset.model') %>
        <%= f.text_field :model,:class => "form-control risk-normal-input" %>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="form-group clearfix">
      <div class="col-sm-12">
        <%= f.label :serial_number, t('other_asset.serial_number') %>
        <%= f.text_field :serial_number, :class => "form-control risk-normal-input" %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="form-group clearfix">
      <div class="col-sm-12">
        <%= f.label :ip, t('other_asset.ip') %>
        <%= f.text_field :ip, :class => "form-control risk-normal-input" %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="form-group clearfix">
      <div class="col-sm-12">
        <%= f.label :maintenance_contract, t('other_asset.maintenance_contract') %>
        <div class="risk-select width-fix">
          <%= f.collection_select(:maintenance_contract, current_company.contracts, :id, :name) %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="form-group clearfix">
      <div class="col-sm-12">
        <%= f.label :lease_contract, t('other_asset.lease_contract') %>
        <div class="risk-select width-fix">
          <%= f.collection_select(:maintenance_contract, current_company.contracts, :id, :name) %>
        </div>
      </div>
    </div>
  </div>
</div>


<%= f.fields_for :asset do |ff| %>
  <%= render partial: "asset_partials/security_properties", :locals => { :ff => ff } %>
<% end %>


<div class ="row">
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <%= f.fields_for :attachment, (@other_asset.attachment.present? ? @other_asset.attachment : @other_asset.build_attachment) do |attach| %>
      <%= attach.label :attachment, t('other_asset.attachment'), :class => "attach-icon blue_link" %><br />
      <%= attach.file_field :attachment_file, :class=>"risk_attachment", onchange: "display_selected_files(this)" %>
      <%= attach.hidden_field :company_id, :value => "#{current_company.id}"%>
      <br />
      <div id="attach_<%= @other_asset.attachment.id%>"><%= link_to (File.basename(@other_asset.attachment.attachment_file_url)).truncate(20), download_other_asset_document_other_assets_path(id: @other_asset.attachment.id), class: "blue_link risl-blue-link" if @other_asset.attachment.attachment_file_url %>
        <div class="addissue risk-rem"> <%= link_to "Remove", remove_attachment_other_assets_path(id: @other_asset.attachment.id ), data: { confirm: "Are you sure?" }, method: :delete, remote: true, class: "minus-icon" if @other_asset.attachment.attachment_file.present? %>
          </div>
    <% end %>
    <div class="clearfix" id="selected_files"></div>
  </div>
</div>
</div>


<div class="clearfix border-divider"> </div>


<div>
  <%= f.fields_for :lifecycles do |builder| %>
  	<%= render 'lifecycle_fields', other_asset: other_asset, f: builder %>
  <% end %>
  <%= link_to_add_lifecycle_fields "", f, :lifecycles, other_asset %>
</div>



<script>

$('.ui.checkbox')
  .checkbox();

$('#tags').tagsInput({
  'defaultText':'add email'
});

$(document).ready(function(){
  $('.datepicker').kendoDatePicker()
});

</script>
<%#= link_to "Attach Files", other_assets_path%>