<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group clearfix">
      <div class="col-sm-12">
        <%= f.label :custodian_actions, "Describe the action statements and control measures taken" %>
        <%= f.cktext_area :custodian_actions, :class=>"form-control asset-big-input" %>
      </div>
    </div>
  </div>
</div>

<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<%= f.fields_for :attachments, (@asset_action.attachments.present? ? @asset_action.attachments : @asset_action.attachments.build) do |attach| %>
		<%= attach.label :attachment, 'Attach Evidence Documents', :class => "attach-icon fleft blue_link" %><br />
    <%= attach.file_field :attachment_file, :class=>"risk_attachment", onchange: "display_selected_files(this)" %>
      <%= attach.hidden_field :company_id, :value => "#{current_company.id}"%>
      <br />
	<% end %>
	</div>
</div>