<style>
.mitigation-recomm{
height: 243px;
overflow: auto;


}
</style>

<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
    <div class="mitigation-box-wrap">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <% value = calc_score(@asset) %>
          <% if value > 7 && value <= 9 %>
            <div class="high-box">
              <div class="number"><%= value %></div>
              <div class="text">Asset Value</div>
            </div>
          <% elsif value > 5 && value <= 7 %>
            <div class="medium-box">
              <div class="number"><%= value %></div>
              <div class="text">Asset Value</div>
            </div>
          <% else %>
            <div class="low-box">
              <div class="number"><%= value %></div>
              <div class="text">Asset Value</div>
            </div>
          <% end %>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 ">
          <div class="mitigate-inner mitigate-box">
              <div class="risk-box-lable"><%= @asset.assetable_type %></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div class="mitigation-box-wrap">
      <div class="mitigation-sub">
          <div class="risk-box-lable">Display Name :</div>
          <div class="risk-box-text"><%= @asset.name %></div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
    <div class="mitigation-box-wrap">
      <div class="mitigation-status">
          <div class="risk-box-lable">Status:</div>
          <div class="risk-box-text"><%= @asset.asset_state.name %></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="tab-pane active" id="all">
      <div class="table-responsive">
        <table class="table table-striped table-bg">
          <tr>
            <th colspan="6" class="risk-able-th">Assignment / Security / CIA Information</th>
          </tr>
          <tr>
            <td><label>Owner : </label>
              <span><%=@asset.info_asset_owner.user_name %> </span></td>
            <td><label>Custodian : </label>
              <span> <%=@asset.info_asset_custodian.user_name %> </span></td>
            <td><label>Identifier : </label>
              <span><%=@asset.info_asset_identifier.user_name %></span></td>
          </tr>
          <tr>
            <td><label>Evaluator/CIO : </label>
            <span><%=@asset.info_asset_evaluator.user_name %></span></td>
            <td><label>Location : </label>
              <span><%= @asset.location.name if @asset.location.present? %></span></td>
            <td><label>Department : </label>
              <span> <%= @asset.department.name if @asset.department.present? %> </span></td>
          </tr>
          <tr>
            <td><label>Confidentiality :</label>
              <span> <%= @asset.asset_confi.name%> </span></td>
            <td><label>Integrity : </label>
              <span> <%= @asset.asset_integ.name%> </span></td>
            <td><label>Availability : </label>
              <span class="orange-method"> <%= @asset.asset_avail.name%> </span></td>
          </tr>
          <tr>
            <td><label>Personal Data :</label>
              <span> <%= @asset.personal_data%> </span></td>
            <td><label>Sensitive Data : </label>
              <span> <%= @asset.sensitive_data%> </span></td>
            <td><label>Customer Data : </label>
              <span class="orange-method"> <%= @asset.customer_data%> </span></td>
          </tr>
          <%# if risk.attachment.present? %>
          <tr>
              <td><label>Classification : </label>
              <span> <%= @asset.classification.name%> </span></td>
              <td><label>Document: </label>
              <%#= link_to (File.basename(risk.attachment.attachment_file_url)).truncate(20), download_document_risks_path(id: risk.attachment.id), class: "blue_link" %></td>
            <td></td>
          </tr>
          <%# end %>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="risk-assetes">
      <div class="mitigation-recomm">
        <div class="mit-reccom-title">Asset Description</div>
        <p><%= @asset.description%></p>
      </div>
    </div>
  </div>
</div>
<br>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="tab-pane active" id="all">
      <div class="table-responsive">
        <table class="table table-striped table-bg">
          <tr>
            <th colspan="6" class="risk-able-th">Information Asset Properties</th>
          </tr>
          <tr>
            <td><label>Current Level of Protection - When Information is in rest : </label>
              <br>              
                <span>
                  <%= @asset.assetable.at_origin%>
                </span>              
              <span>
            </td>
            <td><label>Current Level of Protection - When Information is moved : </label>
              <br>
              <span>
                <%= @asset.assetable.info_moved%>
              </span>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <label>Data Retention Period (in Years) :</label>
              <span><%= @asset.assetable.retention_period%></span>
            </td>
          </tr>
        </table>
        <tr></tr>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div class="risk-assetes">
      <div class="mitigation-recomm">
        <div class="mit-reccom-title">Controls for Labelling</div>
        <p><%= @assessment.labelling if @assessment.labelling.present? %></p>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div class="mitigation-recomm">
      <div class="mit-reccom-title">Controls for Storage</div>
      <p><%= @assessment.storage if @assessment.storage.present? %></p>
    </div>
  </div>
</div>
<br>

<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div class="risk-assetes">
      <div class="mitigation-recomm">
        <div class="mit-reccom-title">Controls for Transport / Transmission</div>
        <p><%= @assessment.transport if @assessment.transport.present? %></p>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div class="mitigation-recomm">
      <div class="mit-reccom-title">Controls for Addressing</div>
      <%= sanitize(@assessment.addressing) if @assessment.addressing.present? %>
    </div>
  </div>
</div>
<br>

<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div class="risk-assetes">
      <div class="mitigation-recomm">
        <div class="mit-reccom-title">Controls for Disposal</div>
        <p><%= @assessment.disposal if @assessment.disposal.present? %></p>
      </div>
    </div>
  </div>
</div>
<br>

<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div class="risk-assetes">
      <div class="mitigation-recomm">
        <div class="mit-reccom-title">Assessment</div>
        <%= sanitize @assessment.assessment if @assessment.assessment.present?  %>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div class="mitigation-recomm">
      <div class="mit-reccom-title">Conclusion</div>
      <%= sanitize @assessment.conclusion if @assessment.conclusion.present? %>
    </div>
  </div>
</div>
<br>

<div class="risk-wrap">
<div class="sub-wrap">
<div class="sub-titile">Submit Actions</div>
<div class="sub-wrap-bg">
<div class="ui info message">Give a brief descriptions about the actions taken with evidence documents. If possible provide a future action plan in case if some controls are still not yet implemented.</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group clearfix">
      <div class="col-sm-12">
        <%= f.label :custodian_actions, "Describe the action statements and control measures taken as a custodian" %>
        <%= f.cktext_area :custodian_actions, :class=>"form-control asset-big-input" %>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<%#= f.fields_for :attachments, (@asset_action.attachments.present? ? @asset_action.attachments : @asset_action.attachments.build) do |attach| %>
		<%#= attach.label :attachment, 'Attach Evidence Documents', :class => "attach-icon fleft blue_link" %><br />
    <%#= attach.file_field :attachment_file, :class=>"risk_attachment", onchange: "display_selected_files(this)" %>
      <%#= attach.hidden_field :company_id, :value => "#{current_company.id}"%>
      <br />
	<%# end %>
	</div>
</div> -->

</div>
</div>
</div>

<%= f.fields_for :attachments, (@asset_action.attachments.present? ? @asset_action.attachments : @asset_action.attachments.build) do |attach|%>
        <div id="example">
            <div class="demo-section k-header" id="files">
                    <input name="files[]" id="files" type="file" />                    
                </div>
        </div>
<% end %>

<script>
$(document).ready(function() {

    $(document).ready(function() {
                    $("#files").kendoUpload();
                });
});

</script>