<!-- Form for Updating the password of the user -->


<%= form_for(@user, :url => { :action => "update_password" } ) do |f| %>
  <div >
    <%= f.label :password, "Password" %><br />
    <%= f.password_field :password, :autocomplete => "off"  %>
  </div>
  <div>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>