<% if @user.errors.any? %>
<div class="container">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
           <div id="error_explanation">
            <h2> Error Messages </h2>
            <ul>
              <% @user.errors.messages.each do |msg| %>
                <li><%= msg[1][0] %></li>
              <% end %>
            </ul>
           </div>
        </div>
      </div>
    </div>
</div>
<% end %>

<!-- Form for Updating the password of the user -->
<div class="container">
  <h3>Set a password to start using</h3>
<%= form_for(@user, :url => { :action => "update_password" } ) do |f| %>
  <div >
    <%= f.label :password, "Password" %><br />
    <%= f.password_field :password, :autocomplete => "off", :name => "users[password]"  %>
  </div>
  <div>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, :name => "users[password_confirmation]" %>
  </div>
  <br />
  <div>
    <%= f.submit "Update Password" , :class => "orange_btn"  %>
  </div>
<% end %>
</div>