<%= javascript_include_tag "/assets/views/users.js" %>
 <style>
        .weakpass{
            color:#B40404;
        }
        .stillweakpass{
            color:#DF7401;
        }
        .goodpass{
            color:#00FF00;
        }
        .strongpass{
            color:#9AFE2E;
        }
        .vrystrongpass{
            color:#0B610B;
        }
    </style>
    <%p @user.errors%>
<% if @user.errors.any? %>
<div class="container">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
           <div id="error_explanation">
            <h2> Error Messages </h2>
            <ul>
              <% @user.errors.messages.each do |msg| %>
                <li><%= msg[1][0] %></li>
              <% end %>
            </ul>
           </div>
        </div>
      </div>
    </div>
</div>
<% end %>

<!-- Form for Updating the password of the user -->
<div class="reset-pwd">
  <div class="reset-title">Change your password</div>
<%= form_for(@user, :url => { :action => "update_password" } ) do |f| %>
  <div class="pwd-text" >
    <%= f.label :password, "Password" %>
    <%= f.password_field :password, :autocomplete => "off", :name => "users[password]" ,:id=>"password1" %>
  </div>
  <div class="pwd-text">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :name => "users[password_confirmation]"  ,:id=>"password2"%>
  </div>
    <div id="pass-info"></div>
  <br/>

  <div class="up-pwd">
    <%= f.submit "Update Password" , :class => "orange_btn"  %>
  </div>
<% end %>
</div>
</div>