
 <style>
        .weakpass{
            color:#B40404;
        }
        .stillweakpass{
            color:#DF7401;
        }
        .goodpass{
            color:#00FF00;
        }
        .strongpass{
            color:#9AFE2E;
        }
        .vrystrongpass{
            color:#0B610B;
        }
    </style>
    <%p @user.errors%>
<% if @user.errors.any? %>
<div class="container">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
           <div id="error_explanation">
            <h2> Error Messages </h2>
            <ul>
              <% @user.errors.messages.each do |msg| %>
                <li><%= msg[1][0] %></li>
              <% end %>
            </ul>
           </div>
        </div>
      </div>
    </div>
</div>
<% end %>

<!-- Form for Updating the password of the user -->
<div class="container">
  <h3>Set a password to start using</h3>
<%= form_for(@user, :url => { :action => "update_password" } ) do |f| %>
  <div >
    <%= f.label :password, "Password" %><br />
    <%= f.password_field :password, :autocomplete => "off", :name => "users[password]" ,:id=>"password1" %>
  </div>
  <div>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, :name => "users[password_confirmation]"  ,:id=>"password2"%>
  </div>
    <div id="pass-info"></div>
  <br/>

  <div>
    <%= f.submit "Update Password" , :class => "orange_btn"  %>
  </div>
<% end %>
</div>

<script>
$(document).ready(function() {
    var password1       = $('#password1'); //id of first password field
    var password2       = $('#password2'); //id of second password field
    var passwordsInfo   = $('#pass-info'); //id of indicator element
    passwordStrengthCheck(password1,password2,passwordsInfo); //call password check function
});

function passwordStrengthCheck(password1, password2, passwordsInfo)
{
    //Must contain 5 characters or more
    var WeakPass = /(?=.{5,}).*/;
    //Must contain lower case letters and at least one digit.
    var MediumPass = /^(?=\S*?[a-z])(?=\S*?[0-9])\S{5,}$/;
    //Must contain at least one upper case letter, one lower case letter and one digit.
    var StrongPass = /^(?=\S*?[A-Z])(?=\S*?[a-z])(?=\S*?[0-9])\S{5,}$/;
    //Must contain at least one upper case letter, one lower case letter and one digit.
    var VryStrongPass = /^(?=\S*?[A-Z])(?=\S*?[a-z])(?=\S*?[0-9])(?=\S*?[^\w\*])\S{5,}$/;
    $(password1).on('keyup', function(e) {
        if(VryStrongPass.test(password1.val()))
        {
            passwordsInfo.removeClass().addClass('vrystrongpass').html("Very Strong! (Awesome, please don't forget your password now!)");
        }
        else if(StrongPass.test(password1.val()))
        {
            passwordsInfo.removeClass().addClass('strongpass').html("Strong! (Enter special chars to make even stronger");
        }
        else if(MediumPass.test(password1.val()))
        {
            passwordsInfo.removeClass().addClass('goodpass').html("Good! (Enter uppercase letter to make strong)");
        }
        else if(WeakPass.test(password1.val()))
        {
            passwordsInfo.removeClass().addClass('stillweakpass').html("Still Weak! (Enter chars or digits to make good password)");
        }
        else
        {
            passwordsInfo.removeClass().addClass('weakpass').html("Very Weak! (Must be 6 or more chars)");
        }
    });
    $(password2).on('keyup', function(e) {
        if(password1.val() !== password2.val())
        {
            passwordsInfo.removeClass().addClass('weakpass').html("Passwords do not match!");
        }else{
            passwordsInfo.removeClass().addClass('goodpass').html("Passwords match!");
        }
    });
}
</script>