<div id="Accordion1">
  <% @audit.nc_questions.each do |question| %>
  <% binding.pry %>
    <h3><a href="#"><%= question.question %></a> <span class="fright pending_msg"><%= if question.answer ? Pending : Completed%></span></h3>
      <div>
        <div class="row audit-title">
          <% test = question.build_answer %>
          <%= f.fields_for :answer do |answer| %>
            <%= f.hidden_field :audit_id, value: current_audit.id %>
            <%= render :partial => "answer_type",  locals: {:f => f, :question => question, :answer => answer} %>
          <% end %>
        </div>
      </div>
  <% end %>
</div>