<div class="col-lg-4">
  <div class="form-group clearfix">
    <% if question.question_type_id == 1%>
      <div class="form-group clearfix">
        <label class="col-sm-5">Your Choice</label>
        <div class="col-sm-7">
          <input type="radio" value="0" name="answer[<%= question.id %>][value]">
          <label for="value_Yes">Yes</label>
          <input type="radio" value="1" name="answer[<%= question.id %>][value]">
          <label for="value_No">No</label>
        </div>
        <br>
        <div class="form-group clearfix">
          <% if question.does_require_document? %>
						<div class="col-sm-12"><a class="attach-icon fleft blue_link" href="#" onclick="$('#answer_document_<%= question.id %>').click();" >Attach Document</a>
					<%= file_field_tag "answer[#{question.id}][attachment]", :style => "visibility:hidden; display:none;",  :id => "answer_document_#{question.id}"%>
          </div>
          <% end %>
        </div>
      </div>

    <% elsif question.question_type_id == 2 %>
      <div class="form-group clearfix">
        <label class="col-sm-5">Your Answer</label>
        <div class="col-sm-7">
          <textarea name="answer[<%= question.id %>][detailed_value]" id="audit_answer_detailed_value" class="audit-big-input"></textarea>
        </div>
        <br>
        <div class="form-group clearfix">
          <% if question.does_require_document? %>
          <div class="col-sm-12"><a class="attach-icon fleft blue_link" href="#" onclick="$('#answer_document_<%= question.id %>').click();" >Attach Document</a>
          <%= file_field_tag "answer[#{question.id}][attachment]", :style => "visibility:hidden; display:none;",  :id => "answer_document_#{question.id}"%>
          </div>
          <% end %>
        </div>
      </div>

    <% elsif question.question_type_id == 3 %>
      <div class="form-group clearfix">
        <label class="col-sm-5">Your Option</label>
        <div class="col-sm-7">
          <% @question_options = question.question_options %>
          <% @question_options.each do |question_option|%>
            <input type="radio" value="<%= question_option.id%>" name="answer[<%= question.id %>][value]" id="value_<%= question_option.id%>">
            <label for="value_<%= question_option.id%>"><%= question_option.value%></label> <br>
          <% end %>
          <br>
        </div>
        <br>
        <div class="form-group clearfix">
          <% if question.does_require_document? %>
          <div class="col-sm-12"><a class="attach-icon fleft blue_link" href="#" onclick="$('#answer_document_<%= question.id %>').click();" >Attach Document</a>
          <%= file_field_tag "answer[#{question.id}][attachment]", :style => "visibility:hidden; display:none;",  :id => "answer_document_#{question.id}"%>
          </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>