<%= javascript_include_tag "/assets/outer/jquery.tagsinput.min.js" %>

<%= f.fields_for :asset do |ff| %>
  <%= render partial: "asset_partials/asset_properties", :locals => {:ff => ff } %>
<% end %>

<div class="clearfix">
  <h4><b>Mobile Asset Properties</b></h4>
</div>

<div class="clearfix">
  <h5><b>Hardware Properties</b></h5>
</div>

<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="form-group clearfix">
      <div class="col-sm-12">
        <%= f.label :device_type, t('mobile_asset.device_type') %>
        <div class="risk-select width-fix">
          <%= f.collection_select(:device_type_id, DeviceType.all, :id, :name) %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="form-group clearfix">
      <div class="col-sm-12">
        <%= f.label :model, t('mobile_asset.model') %>
        <%= f.text_field :model, :class => "form-control risk-normal-input" %>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="form-group clearfix">
      <div class="col-sm-12">
        <%= f.label :manufacturer, t('mobile_asset.manufacturer') %>
        <%= f.text_field :manufacturer, :class => "form-control risk-normal-input" %>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="form-group clearfix">
      <div class="col-sm-12">
        <%= f.label :service_provider, t('mobile_asset.service_provider') %>
        <%= f.text_field :service_provider, :class => "form-control risk-normal-input" %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <div class="form-group clearfix">
      <div class="col-sm-12">
        <%= f.label :serial_number, t('mobile_asset.serial_number') %>
        <%= f.text_field :serial_number, :class => "form-control risk-normal-input" %>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <div class="form-group clearfix">
      <div class="col-sm-12">
        <%= f.label :imei, t('mobile_asset.imei') %>
        <%= f.text_field :imei, :class => "form-control risk-normal-input" %>
      </div>
    </div>
  </div>
</div>

<%= f.fields_for :asset do |ff| %>
  <%= render partial: "asset_partials/security_properties", :locals => { :ff => ff } %>
<% end %>

<script>
$('.ui.checkbox')
  .checkbox();

$('#tags').tagsInput({
  'defaultText':'add email'
});

$(document).ready(function(){
  $('.datepicker').kendoDatePicker()
});
</script>