<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
    <div class="form-group clearfix">
      <label class="col-sm-4 control-label">
        <%= f.label :model, t('mobile_asset.model') %>
      </label>
      <div class="col-sm-8">
        <%= f.text_field :model, :class => "form-control risk-normal-input" %>
      </div>
      <% if mobile_asset.errors[:model].present? %>
           <div class="error_message"><%=  mobile_asset.errors[:model][0]%></div>
      <% end %>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
    <div class="form-group clearfix">
      <label class="col-sm-4 control-label">
        <%= f.label :manufacturer, t('mobile_asset.manufacturer') %>
      </label>
      <div class="col-sm-8">
         <%= f.text_field :manufacturer, :class => "form-control risk-normal-input" %>
      </div>
      <% if mobile_asset.errors[:manufacturer].present? %>
        <div class="error_message"><%=  mobile_asset.errors[:manufacturer][0]%></div>
      <% end %>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
    <div class="form-group clearfix">
      <label class="col-sm-4 control-label">
        <%= f.label :serial_number, t('mobile_asset.serial_number') %>
      </label>
      <div class="col-sm-8">
        <%= f.text_field :serial_number, :class => "form-control risk-normal-input" %>
      </div>
      <% if mobile_asset.errors[:serial_number].present? %>
        <div class="error_message"><%=  mobile_asset.errors[:serial_number][0]%></div>
      <% end %>
    </div>
  </div>
</div>
<div class ="row">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
    <div class="form-group clearfix">
      <label class="col-sm-4 control-label">
        <%= f.label :service_provider, t('mobile_asset.service_provider') %>
      </label>
      <div class="col-sm-8">
        <%= f.text_field :service_provider, :class => "form-control risk-normal-input" %>
      </div>
      <% if mobile_asset.errors[:service_provider].present? %>
        <div class="error_message"><%=  mobile_asset.errors[:service_provider][0]%></div>
      <% end %>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
    <div class="form-group clearfix">
      <label class="col-sm-4 control-label">
        <%= f.label :imei, t('mobile_asset.imei') %>
      </label>
      <div class="col-sm-8">
        <%= f.text_field :imei, :class => "form-control risk-normal-input" %>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
    <div class="form-group clearfix">
      <label class="col-sm-4 control-label">
        <%= f.label :description, t('mobile_asset.description') %>
      </label>
      <div class="col-sm-8">
        <%= f.text_area :description, :class => "form-control risk-normal-input" %>
      </div>
    </div>
  </div>
</div>

<div class="clearfix border-divider"></div>

<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
    <div class="form-group clearfix">
      <label class="col-sm-4 control-label">
        <%= f.label :device_type, t('mobile_asset.device_type') %>
      </label>
      <div class="col-sm-8">
        <div class="risk-select">
          <%= f.collection_select(:device_type_id, DeviceType.all, :id, :name, :prompt => true) %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
    <div class="form-group clearfix">
      <label class="col-sm-4 control-label">
        <%= f.label :location, t('mobile_asset.location') %>
      </label>
      <div class="col-sm-8">
        <div class="risk-select">
          <%= f.collection_select(:location_id, current_company.locations, :id, :name, :prompt => true) %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
    <div class="form-group clearfix">
      <label class="col-sm-4 control-label">
        <%= f.label :department, t('mobile_asset.department') %>
      </label>
      <div class="col-sm-8">
        <div class="risk-select">
          <%= f.collection_select(:department_id, current_company.departments, :id, :name, :prompt => true) %>
        </div>
      </div>
    </div>
  </div>
</div>