<style>
#standard-topic, #standard-compliance, #department-dropdown, #teams-dropdown{
  display: none;
}
</style>
<% if @audit.errors.any? %>
  <h2> Error Messages </h2>
  <ul>
    <% @audit.errors.messages.each do |msg| %>
      <li><%= msg[1][0] %></li>
    <% end %>
  </ul>
<% end %>
<div class="content">
  <div class="container">
    <div class="row">
      <div class="audit-title">
        <h2>New Audit Plan</h2>
        <div class="audit-content container">
          <%= form_for(@audit) do |f| %>
            <div class="clearfix">
              <h3>Audit Details</h3>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
              <div class="form-group clearfix">
                <label class="col-sm-4 control-label">
                  <%= f.label :client_id, t('audit.client') %>
                </label>
                <div class="col-sm-7">
                  <%= f.collection_select(:client_id, Client.where(:company_id=>current_company.id), :id, :name, :prompt => true) %>
                </div>
              </div>
              <div class="form-group clearfix">
                <label class="col-sm-4">
                  <%= f.label :objective, t('audit.objective') %>
                </label>
                <div class="col-sm-7">
                  <%= f.text_field :objective, :class=>"audit-big-input" %>
                </div>
              </div>
              <div class="form-group clearfix">
                <label class="col-sm-4">
                  <%= f.label :deliverables, t('audit.deliverables') %>
                </label>
                <div class="col-sm-7">
                  <%= f.text_field :deliverables, :class=>"audit-big-input" %>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
              <div class="form-group clearfix">
                <label class="col-sm-4">
                  <%= f.label :title, t('audit.title') %>
                </label>
                <div class="col-sm-7 <%='error_inputfield' if @audit.errors[:title].present? %>">
                  <%= f.text_field :title, :class=>"audit-normal-input" %>
                  <% if @audit.errors[:title].present? %>
                    <div class="error_message"><%=  @audit.errors[:title][0]%></div>
                  <% end %>
                </div>
              </div>
              <div class="form-group clearfix">
                <label class="col-sm-4">
                  <%= f.label :context, t('audit.context') %>
                </label>
                <div class="col-sm-7">
                  <%= f.text_field :context, :class=>"audit-big-input" %>
                </div>
              </div>
              <div class="form-group clearfix">
                <label class="col-sm-4">
                  <%= f.label :issue, t('audit.issue') %>
                </label>
                <div class="col-sm-7">
                  <%= f.text_field :issue, :class=>"audit-big-input" %>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
              <div class="form-group clearfix">
                <label class="col-sm-4">
                  <%= f.label :scope, t('audit.scope') %>
                </label>
                <div class="col-sm-7">
                  <%= f.text_field :scope, :class=>"audit-big-input" %>
                </div>
              </div>
              <div class="form-group clearfix">
                <label class="col-sm-4">
                  <%= f.label :methodology, t('audit.methodology') %>
                </label>
                <div class="col-sm-7">
                  <%= f.text_field :methodology, :class=>"audit-big-input" %>
                </div>
              </div>
              <div class="form-group clearfix addissue"> <a href="#add_url" data-toggle="modal" class="plus-icon next-phase">Add Issue from Risk Library</a>
                <div class="modal fade" id="add_url">
                  <div class="modal-dialog modal-dialog_large">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button"> &nbsp; </button>
                        <h4 id="myModalLabel" class="modal-title">Planned for further phases.</h4>
                        <p></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix border-divider"> </div>
            <div class="clearfix">
              <h3>Plan</h3>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
              <div class="form-group clearfix">
                <label class="col-sm-4 control-label">
                  <%= f.label :audit_type, t('audit.audit_type') %>
                </label>
                <div class="col-sm-7 <%='error_inputfield' if @audit.errors[:title].present? %>">
                  <%= f.collection_select(:audit_type_id, AuditType.all, :id, :name, :prompt => true) %>
                  <% if @audit.errors[:audit_type_id].present? %>
                    <div class="error_message"><%=  @audit.errors[:audit_type_id][0]%></div>
                  <% end %>
                </div>
              </div>

              <div class="form-group clearfix">
                <label class="col-sm-4 control-label">
                  <%= f.label :location, t('audit.location') %>
                </label>
                <div class="col-sm-7">
                  <%= f.select :location_id, options_for_select(Location.all.collect{|x| [x.name, x.id.to_i]}), {include_blank: 'Select Location' }, { :id => "locations-list", :onChange => "get_departments(this);"} %>
                </div>
              </div>

              <div class="form-group clearfix" id="department-dropdown">
                <label class="col-sm-4 control-label">
                  <%= f.label :department_id, t('audit.department') %>
                </label>
                <div class="col-sm-7">
                  <%= f.select :department_id, options_for_select(["Some text here", ""]), {include_blank: 'Select Department' }, { :id => "department_id", :onChange => "get_teams(this);"} %>
                </div>
              </div>
              <div class="form-group clearfix" id="teams-dropdown">
                <label class="col-sm-4 control-label">
                  <%= f.label :team_id, t('audit.team') %>
                </label>
                <div class="col-sm-7">
                  <%= f.select :team_id, options_for_select(["Some text here", ""]), {include_blank: 'Select Team' }, { :id => "team_id"} %>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
              <div class="form-group clearfix">
                <label class="col-sm-4 control-label">
                  <%= f.label :compliance_type, t('audit.compliance_type') %>
                </label>
                <div class="col-sm-7">
                  <select name="audit[compliance_type]" id="compliance_type">
                    <option value="">Please select</option>
                    <option value="Compliance">Compliance Audit</option>
                    <option value="NonCompliance">NonCompliance Audit</option>
                  </select>
                </div>
              </div>
              <div class="form-group clearfix" id="standard-topic">
                <label class="col-sm-4 control-label">
                  <%= f.label :standard_id, t('audit.topic') %>
                </label>
                <div class="col-sm-7">
                  <%= f.collection_select(:standard_id, Topic.all, :id, :name, :prompt => true) %>
                </div>
              </div>

              <div class="form-group clearfix" id="standard-compliance">
                <label class="col-sm-4 control-label">
                  <%= f.label :standard_id, t('audit.standard') %>
                </label>
                <div class="col-sm-7">
                  <%= f.collection_select(:standard_id, Compliance.all, :id, :name, :prompt => true) %>
                </div>
              </div>



            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">

              <div class="form-group clearfix">
                <label class="col-sm-4 control-label">
                  <%= f.label :start_date, t('audit.start_date') %>
                </label>
                <div class="col-sm-7">
                  <div class="form-group">
                    <%= f.text_field :start_date, :class => "datepicker", :style =>"width:150px;" %>
                  </div>
                </div>
              </div>

              <div class="form-group clearfix">
                <label class="col-sm-4 control-label">
                  <%= f.label :end_date, t('audit.end_date') %>
                </label>
                <div class="col-sm-7">
                  <div class="form-group">
                   <%= f.text_field :end_date, :class => "datepicker1", :style =>"width:150px;" %>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix border-divider"></div>
            <div class="clearfix">
              <h3>Team</h3>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
              <div class="form-group clearfix">
                <label class="col-sm-4 control-label">
                  <%= f.label :auditor, t('audit.auditor') %>
                </label>
                <div class="col-sm-7 <%='error_inputfield' if @audit.errors[:auditor].present? %>">
                  <%= f.select :auditor, options_for_select(@auditor_users.collect{|x| [x.full_name, x.id.to_i]}), {include_blank: 'Select Auditor' } %>
                  <% if @audit.errors[:auditor].present? %>
                    <div class="error_message"><%=  @audit.errors[:auditor][0]%></div>
                  <% end %>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-xs-12" id="auditee-list">
              <% if @audit.errors[:auditees].present? %>
                <div class="error_message"><%= @audit.errors[:auditees][0]%></div>
              <% end %>
              <% @audit.audit_auditees.build %>
              <div class="form-group clearfix auditee-dropdown">
                <div class='auditee-rows'>
                  <%= f.fields_for :audit_auditees do |builder| %>
                    <label class="col-sm-4 control-label">
                      <%= builder.label :auditees, t('audit.auditee') %>
                    </label>
                    <div class="col-sm-7">
                      <%= builder.select :user_id, options_for_select(@auditee_users.collect{|x| [x.full_name, x.id.to_i]}), {include_blank: 'Select Auditee' }, { :id => "locations-list"} %>

                    </div>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="col-sm-7">
              <div class="form-group clearfix addissue">
                <a href="javascript:void(0)" class="plus-icon" id="add_auditee">Add Auditee
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
              <br>
              <br>
              <%= f.submit "Initiate Audit", :class => "black_btn" %>
              <!-- <a href="" class="black_btn"></a> -->
              <a class="orange_btn" href="#">Save as Plan</a>
              <br>
              <br>
            </div>
          <% end %>
          <div class="form-group clearfix addissue">
            <a class="orange_btn" href="#add_csv" data-toggle="modal">Upload audit from CSV or XLSX</a>
            <div class="modal fade" id="add_csv">
              <div class="modal-dialog modal-dialog_large">
                <div class="modal-content">
                  <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button"> &nbsp; </button>
                    <h4 id="myModalLabel" class="modal-title">Upload files only CSV and XLSX</h4>
                    <%= form_tag import_files_audits_path, multipart: true do %>
                      <%= file_field_tag :file %>
                      <%= submit_tag "Import" %>
                    <% end %>
                    <p></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('#standard-compliance  select').attr('name', '');
    $('#standard-topic  select').attr('name', '');

    $("#compliance_type").change(function () {
      var getStandardVal = this.value;
      if(getStandardVal == 'Compliance')
        {
          $('#standard-compliance').show();
          $('#standard-compliance  select').attr('name', 'audit[standard_id]');
          $('#standard-topic  select').attr('name', '');
          $('#standard-topic').hide();
        }
        else if(getStandardVal == 'NonCompliance')
        {
          $('#standard-topic').show();
          $('#standard-topic  select').attr('name', 'audit[standard_id]');
          $('#standard-compliance  select').attr('name', '');
          $('#standard-compliance').hide();
        }
        else if(getStandardVal=='')
        {
          $('#standard-compliance').hide();
          $('#standard-topic').hide();
        }
    });

    $(".datepicker").kendoDatePicker();
    $(".datepicker1").kendoDatePicker();


    $('#add_auditee').click(function(){
      var size = $('#auditee-list').find('.auditee-rows').size();

      // console.log(cd append)
      $("#auditee-list").append(""+"<div class='form-group clearfix auditee-dropdown'>"+$(".auditee-dropdown").html().replace('audit[audit_auditees_attributes][0][user_id]','audit[audit_auditees_attributes]['+size+'][user_id]')+"</div>"+"");
    });

    $(".next-phase").click(function(){
      // new Messi('Planned for further phases.', {autoclose: '5000'});
      new Messi('Planned for further phases.', {title: 'Warning', titleClass: 'warning', autoclose: 2000});
    });
  });

  function get_departments(element){
    var location_id = $(element).val();
    if(location_id.length>0){
      $.ajax({
        url: "/audits/departments_list",
        type: "GET",
        data: {"location_id" : location_id}
      });
    }
    else{
      $('#department-dropdown').hide();
      $('#teams-dropdown').hide();
    }
  }

  function get_teams(element){
    var department_id = $(element).val();
    if(department_id.length>0){
      $.ajax({
        url: "/audits/teams_list",
        type: "GET",
        data: {"department_id" : department_id}
      });
    }
    else {
      $('#teams-dropdown').hide();
    }
  }
</script>