  <div class="clearfix"></div>
  <!-- Dash Board Start -->
  <div class="dashboard_main">
    <div class="container">
      <div class="row"> 
        <!-- Dash Board Title Start -->
        <div class="dashboard-title col-lg-12">Dash Board</div>
        <!-- Dash Board Title End -->
        <div class="col-lg-8 dash_bg"> 
          
          <!-- Dash Board Menu Start-->
          <div class="dashboard_menu">
            <ul>
						<% audit_status_id = @audit.audit_status_id%>
              <li>
                <div id="arrow"> <a class="<%= audit_status_id >= 1 ? 'lightgreen' : 'grey'%>" href="">
                  <div class="db-plan-icon"></div>
                  Plan </a> </div>
              </li>
              <li>
                <div id="arrow1"> <a class="<%= audit_status_id >= 2 ? 'lightgreen' : 'grey'%>" href="">
                  <div class="db-do-icon"></div>
                  Do </a> </div>
              </li>
              <li>
                <div id="arrow2"> <a class="drakgreen" href="">
                  <div class="db-check-icon"></div>
                  Check </a> </div>
              </li>
              <li>
                <div id="arrow3"> <a class="grey" href="">
                  <div class="db-act-icon"></div>
                  Act </a> </div>
              </li>
              <li>
                <div id="arrow4"> <a class="grey" href="">
                  <div class="db-publish-icon"></div>
                  Publish </a> </div>
              </li>
            </ul>
          </div>
          <!-- Dash Board Menu End--> 
          
          <!-- Audit Compliance Rating Start -->
          <div class="dash_sub_title">Audit Compliance Rating</div>
          <div id="auditcompliancerating"></div>
          <!-- Audit Compliance Rating End --> 
          
          <!-- ISMS Audit Score Start -->
          <div class="dash_sub_title">ISMS Audit Score</div>
          <div id="ISMSAuditScore"></div>
          <!-- ISMS Audit Score End --> 
        </div>
        <div class="col-lg-4 dash_bg">
          <div class="db_audit_com clearfix">
            <div class="db_audit_com_icon fleft"></div>
            <div class="db_audit_com_txt">Audit Compliance Rating <b>62%</b> </div>
          </div>
          
          <!--Audit Details Start -->
          <div class="dash_sub_title">Audit Details</div>
          <div class="db_aduitdetails">
            <div class="form-group clearfix">
              <label  class="col-sm-4"><b>Audit Name:</b> </label>
              <div class="col-sm-8"><%= @audit.title%></div>
            </div>
            <div class="form-group clearfix">
              <label  class="col-sm-4"><b>Start Date:</b> </label>
              <div class="col-sm-8"><%= @audit.start_date%></div>
            </div>
            <div class="form-group clearfix">
              <label  class="col-sm-4"><b>End Date:</b> </label>
              <div class="col-sm-8"><%= @audit.end_date%></div>
            </div>
            <div class="form-group clearfix">
              <label  class="col-sm-4"><b>Stakeholder:</b> </label>
              <div class="col-sm-8"><%= @audit_users.join(',') unless @audit_users.nil?%></div>
            </div>
            <div class="db_download_btn clearfix"> <a class="download-icon" href="/audits/<%= @audit.id%>.pdf">Download Report</a> <a class="download-aff-icon" href="/audits/artifacts_download">Download Artifacts</a> </div>
          </div>
          <!--Audit Details End --> 
          <!--To do List Start -->
          <div class="dash_sub_title">To Do List</div>
          <div class="db_todolist">
					<% @to_do_list.each do |checklist_recommendation|%>
					<% if !checklist_recommendation.recommendation.nil? && checklist_recommendation.recommendation_completed.nil?%>
            <div class="db_todolist_info clearfix">
              <div class="checkbox_wrapper"></div>
              <div class="db_inform">
                <div class="db_todolist_insec"><%= checklist_recommendation.checklist.compliance_library_name%> - Recommendation</div>
							</div>
              <a class="pendinglink" href=""><%= 'Pending'%></a> 
							</div>
          <% end %>
					<% if !checklist_recommendation.corrective.nil? && checklist_recommendation.response_completed.nil?%>
            <div class="db_todolist_info clearfix">
              <div class="checkbox_wrapper"></div>
              <div class="db_inform">
                <div class="db_todolist_insec"><%= checklist_recommendation.checklist.compliance_library_name%> - Response</div>
                <span class="time-icon"><%= checklist_recommendation.closure_date%></span> </div>
              <a class="pendinglink" href=""><%= 'Pending' %></a> 
							</div>
          <% end %>
					<% if !checklist_recommendation.observation.nil? && checklist_recommendation.is_published.nil?%>
            <div class="db_todolist_info clearfix">
              <div class="checkbox_wrapper"></div>
              <div class="db_inform">
                <div class="db_todolist_insec"><%= checklist_recommendation.checklist.compliance_library_name%> - Observation</div>
								</div>
              <a class="pendinglink" href=""><%= 'Pending' %></a> 
							</div>
          <% end %>
          <% end %>
						</div>
          <!--To do List Start --> 
          
          <!--Audit Status  Start-->
          <div class="dash_sub_title">Audit Status</div>
          <script src="http://code.highcharts.com/highcharts.js"></script> 
          <script src="http://code.highcharts.com/modules/data.js"></script> 
          <script src="http://code.highcharts.com/modules/drilldown.js"></script>
          <div id="container" class="aduit_status"></div>
          
          <!-- Data from www.netmarketshare.com. Select Browsers => Desktop share by version. Download as tsv. -->
          <pre id="tsv" style="display:none">
Completed 8.0	0.55%
Completed 8.0	0.55%
Inprogress 5.0	0.85%
Rejected 9.0	0.65%
Pending 8.0	0.55%
</pre>
          
          <!--Audit Status  End--> 
        </div>
      </div>
    </div>
  </div>
  <!-- Dash Board End -->

<script type="text/javascript">
	
$(document).ready(function(){
	
	Top_postion = $(window).scrollTop();
	
	$( ".user_login" ).mouseenter(function() {
		$(this).addClass("active");
		$(".account_header_dropdown").slideDown(100);	  
	})
	.mouseleave(function() {
		$(this).removeClass("active");
		$(".account_header_dropdown").hide();
	});
	
});


$(function () {
var domains = <%= raw @audit_domains%>;
var percentages = <%= raw @audit_percentage%>;
        $('#auditcompliancerating').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: ''
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: domains
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Value'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Organize',
                data: percentages
    
            }]
        });
    });
    
$(function () {
//~ alert(1111111)
var domains = <%= raw @audit_domains%>;
var weightages = <%= raw @audit_weightage%>;
var maximum_scores = <%= raw @audit_maximum_score%>;
console.log(333333)
console.log(domains)
console.log(weightages)
console.log(maximum_scores)
        $('#ISMSAuditScore').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Maximum Score and Actual Score'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: domains,
                title: {
                    text: null
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Value',
                    align: 'high'
                },
                labels: {
                    overflow: 'justify'
                }
            },
            tooltip: {
                valueSuffix: ' millions'
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -40,
                y: 100,
                floating: true,
                borderWidth: 1,
                backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor || '#FFFFFF'),
                shadow: true
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Weightage',
                data: weightages
            }, {
                name: 'Maximum scores',
                data: maximum_scores
            }]	
        });
    });
    


$(function () {

    Highcharts.data({
        csv: document.getElementById('tsv').innerHTML,
        itemDelimiter: '\t',
        parsed: function (columns) {

            var brands = {},
                brandsData = [],
                versions = {},
                drilldownSeries = [];
            
            // Parse percentage strings
            columns[1] = $.map(columns[1], function (value) {
                if (value.indexOf('%') === value.length - 1) {
                    value = parseFloat(value);
                }
                return value;
            });

            $.each(columns[0], function (i, name) {
                var brand,
                    version;

                if (i > 0) {

                    // Remove special edition notes
                    name = name.split(' -')[0];

                    // Split into brand and version
                    version = name.match(/([0-9]+[\.0-9x]*)/);
                    if (version) {
                        version = version[0];
                    }
                    brand = name.replace(version, '');

                    // Create the main data
                    if (!brands[brand]) {
                        brands[brand] = columns[1][i];
                    } else {
                        brands[brand] += columns[1][i];
                    }

                    // Create the version data
                    if (version !== null) {
                        if (!versions[brand]) {
                            versions[brand] = [];
                        }
                        versions[brand].push(['v' + version, columns[1][i]]);
                    }
                }
                
            });

            $.each(brands, function (name, y) {
                brandsData.push({ 
                    name: name, 
                    y: y,
                    drilldown: versions[name] ? name : null
                });
            });
            $.each(versions, function (key, value) {
                drilldownSeries.push({
                    name: key,
                    id: key,
                    data: value
                });
            });
					//~ alert(555)
						console.log(brandsData)
            // Create the chart
            $('#container').highcharts({
					
                chart: {
                    type: 'pie'
                },
                title: {
                    text: 'Aduit Status'
                },
                subtitle: {
                    text: ''
                },
                plotOptions: {
                    series: {
                        dataLabels: {
                            enabled: true,
                            format: '{point.name}: {point.y:.1f}%'
                        }
                    }
                },

                tooltip: {
                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                    pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
                }, 

                series: [{
                    name: 'Brands',
                    colorByPoint: true,
                    data: [{name: "completed", y: 0.55, drilldown: "completed"},{name: "test", y:10, drilldown:"sdd"}]
                }],
                drilldown: {
                    series: drilldownSeries
                }
            })

        }
    });
});
    

</script> 
<script src="http://code.highcharts.com/highcharts.js"></script> 
<script src="http://code.highcharts.com/modules/exporting.js"></script> 
<script src="http://code.highcharts.com/modules/drilldown.js"></script> 
<script src="http://code.highcharts.com/modules/data.js"></script>
</body>
</html>
