<p>
	<label>Client:</label>
	<%= @audit.client_name %>

</p>

<label>Recommendation</label>
	<% @audit.checklist_recommendations.each do |f| %>
<%= f.reason %>
<% end %>

<p>
	<label>objective:</label>
	<%= @audit.objective %>

</p>
<p>
	<label>Deliverables:</label>
	<%= @audit.deliverables %>

</p>
<p>
	<label>Title:</label>
	<%= @audit.title %>

</p>
<p>
	<label>Context:</label>
	<%= @audit.client_name %>

</p>
<p>
	<label>Issue:</label>
	<%= @audit.issue %>

</p>
<p>
	<label>Scope:</label>
	<%= @audit.scope %>

</p>
<p>
	<label>Methodology:</label>
	<%= @audit.methodology %>

</p>

<p>
	<label>AuditType:</label>
	<%= @audit.audit_type_name %>

</p>
<p>
	<label>Location:</label>
	<%= @audit.location_name %>

</p>
<p>
	<label>Department:</label>
	<%= @audit.department_name %>

</p>
<p>
	<label>Department</label>
	<%= @audit.client_name %>

</p>
<p>
	<label>Team:</label>
	<%= @audit.client_name %>

</p>
<p>
	<label>Compliance:</label>
	<%= @audit.client_name %>

</p>
<p>
	<label>Standard:</label>
	<%= @audit.client_name %>

</p>















