<div class= "signup_wrapper">
      <% if @company.errors.any? %>
        <div class="container">
            <div class="col-md-4 col-md-offset-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                   <div id="error_explanation">
                    <h2> Error Messages </h2>
                    <ul>
                      <% @company.errors.messages.each do |msg| %>
                        <li><%= msg[1][0] %></li>
                      <% end %>
                    </ul>
                   </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      <% end %>


<title>FixNix|Login form</title>
<link rel="stylesheet" href="/assets/outer/signin.css">
<div>
 <p class="trail-head"><b>Experience your GRC in cloud</b></p>
</div>
<section class="signup">
  <%params[:subscription]= @subscription[:company][:subscription] if @subscription.present?%>
  <%= form_for(@company, html: { class: "form-horizontal", id: "signup"}) do |f| %>
    <%=f.hidden_field :subscription,{:value => params[:subscription]}%>
      <center><img src="/assets/outer/logo.png" height="250px" width="250px" ></center>

      <%= f.fields_for :users do |user| %>
        <%= user.text_field :user_name, :placeholder => "Username", class: "validate[required]" %>
        <%= user.text_field :email , :placeholder => "Email " , class: "validate[required]", id: "email"%>
      <% end %>

      <%= f.text_field :name , :placeholder => "Company" , class: "validate[required]"  %>
      <%= f.text_field :domain , :placeholder => "Domain" , class: "validate[required]" %><span style="margin: -80px; color: #38B0DE;">.smbgrc.com</span>
      
      <div class="risk-select">
        <%= f.collection_select(:country_id, Country.all, :id, :name, {include_blank: '--Select Country--' },{:class =>"form-control time-zon validate[required]", :type => "text"})  %>
      </div>
      <br>
      
      <%= f.submit "Sign up", :class => "signin resend" %>
      <br><br>
      <span><%= link_to "Already have an account?", "/users/sign_in" %></span>
<% end %>
</section>
</<div></div>
<script type="text/javascript">
$(document).ready(function(){
    $("#signup").validationEngine();
});
</script>