<html lang="en">
<head>
  <meta charset="utf-8">
  <title>jQuery UI Datepicker - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script>
  $(function() {
    $( "#evaluate" ).datepicker();
  });
  </script>
</head>
  <div class="clearfix"></div>
  <div class="content">
    <div class="container">
      <div class="row"> 
        <!-- Nav tabs --> 
        <div class="tab_main_title">Incident-Manager Recommendation</div>
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="all">
            <div class="table-responsive">
              <table class="table table-striped list-table">
                <tr>
                  <th colspan="6">Incident Requester Details</th>
                </tr>
                <tr>
                  <td><label>Requester : </label>
                    <span> </span></td>
                  <td><label>Type : </label>
                    <span><%= incident.request_type.name if incident.present? %></span></td>
                    <td><label>Title : </label>
                    <%= incident.title if incident.present? %></td>
                  
                </tr>
                <tr>
                <td><label>Category : </label>
                     <%= incident.incident_category_name if incident.present? %></td>
                  <td><label>Department : </label>
                     <%= incident.department_name if incident.present? %></td></td>
                  <td><label>Summary : </label>
                    <span> Mana</span></td>
                   
                </tr>
                <tr>
                <td><label>Evidence : </label>
                    <span> <a href="" class="attach-icon  blue_link">Download Evidence</a></span></td>
                  <td><label>Date Occured: </label>
                    <span><%= incident.date_occured if incident.present? %> </span></td>
                 
                </tr>
                 <td><label>Contact No : </label>
                    <%= incident.contact_no if incident.present?%></td>
                  <td><label>Date of Creation: </label>
                    <span></span></td>
                  <td><label>Status : </label>
                    <%= incident.incident_status_name if incident.present? %> 
                   </td>
                </tr>
               </table>

            
          <div class="col-lg-12 col-md-6 col-sm-6 col-xs-2">
             <div class="mitigation-recomm">
                <div class="mit-reccom-title">Summary</div>
                <p><%= incident.summary if incident.present? %></p>
              </div>           
          </div>
          

            </div>
         
          <%= f.fields_for :evaluate do |evaluate| %>

          <div class="container">
            <div id="Accordion1">
              <h3><a href="#">Incidet-Manager Evaluation</a> <span class="fright pending_msg"></span></h3>
              
              <div>
                <div class="row audit-title">
                  
                  <div class="col-lg-4">
                  <div class="form-group clearfix">
                      <label class="col-sm-5"><b>Urgency :</b> </label>
                      <div class="col-sm-7"> 
                      <div class="risk-select">
                      <%= evaluate.collection_select(:urgency_id, Urgency.all, :id, :name)%>
                    </div>
                     </div>
                    </div>

                    <div class="form-group clearfix">
                      <label  class="col-sm-5"><b>Priority :</b> </label>
                       <div class="col-sm-7">
                        <div class="risk-select">
                      <%= evaluate.collection_select(:incident_priority_id, IncidentPriority.all, :id, :name)%>
                    </div>
                      </div>
                    </div>
                    <div class="form-group clearfix">
                      <label  class="col-sm-5"><b>Impact :</b> </label>
                      <div class="col-sm-7">   
                      <div class="risk-select">
                      <%= evaluate.collection_select(:incident_impact_id, IncidentImpact.all, :id, :name)%>
                        </div>
                    </div>

                    </div>
                     
                    
                      <div class="form-group clearfix">
                    
                       <div class="col-sm-7">
                    
                      </div>
                    </div></div>
  
                    

                  
                  <div class="col-lg-4">
                    <div class="form-group clearfix">
                      <label class="col-sm-5"><b>Assignee :</b> </label>
                      <div class="col-sm-7">
                       <div class="risk-select">
                      <%= evaluate.collection_select(:assignee, current_company.users, :id, :user_name)%>
                    </div>
                      </div>
                       
                    </div>
                   <div class="form-group clearfix">
                      <label  class="col-sm-5"><b>Escalation :</b> </label>
                       <div class="col-sm-7">
                         <div class="risk-select">
                      <%= evaluate.collection_select(:escalation_id, Escalation.all, :id, :user)%>
                    </div>
                      </div>
                    </div>

                    <div class="form-group clearfix">
                      <label  class="col-sm-5"><b>SLA :</b> </label>
                      <div class="col-sm-7"> 
                      <div class="risk-select">
                      <%= evaluate.collection_select(:sla_id, Sla.all, :id, :name)%>
                        </div>
                    </div>
                    
                    </div>
                    </div>    

                  <div class="col-lg-4"><div class="form-group clearfix">
                      <label class="col-sm-5"><b>Target Date :</b> </label>
                      <div class="col-sm-7">
                    <%= evaluate.text_field :target_date, :class => "form-control risk-normal-input",:id => "evaluate",:maxlength => 25 %>
                    </div>
                    </div>
                    <div class="form-group clearfix">
                      <label  class="col-sm-5"><b>Origin:</b> </label>
                      <div class="col-sm-7">
                      <div class="risk-select">
                      <%= evaluate.collection_select(:incident_origin_id, IncidentOrigin.all, :id, :name)%> 
                        </div>
                        </div>
                        
                    </div>
                 
                    <div class="form-group clearfix">
                      <label  class="col-sm-5"><b>Resolution Time </b> </label>
                      <div class="col-sm-7">
                      <div class="risk-select">
                      <%= evaluate.text_field :resolutiontime%>
                        </div>
                        </div>
                    </div>
                   
                             
                   
                   </div>
                                   
              </div>
            </div>
          </div>
          
          <% end %>




       



         <div class="clearfix"></div>
                    <div class="fright paddingtop" style="padding-right: 80px;"><%= f.submit "Save ", :class => "orange_btn" %> <a class="grey_btn" href=""> Cancel</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="footer_left col-lg-6">2014 © FixNix Audit Management</div>
        <div class="footer_right col-lg-6">Powered By<img src="img/footer_logo.png" alt=""/></div>
      </div>
    </div>
  </div>
</div>
</html>