<div class="page-wrap">
  <div class="header">
    <div class="container"> 
      <!-- Fixed navbar -->
      <div class="navbar navbar-inverse " role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
              <a class="navbar-brand" href="#">Company Name</a> 
          </div>
          <div class="login-wrap"> <%= link_to "Sign in", "/users/sign_in" %> <%= link_to "Sign up", "/companies/new" %> 
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>
    <div class="content">
      <!-- Flash Notice Starts here -->
      <%#if flash[:forgot_notice]%>
        <!-- <div class="alert alert-success"><button type='button' class='close' data-dismiss='alert'>&times;</button> --><%#= flash[:forgot_notice] %><!-- </div> -->
      <%#end%>
      <%# if flash.alert.present? %>
 <!--        <div class="container">
          <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div id="error_explanation">
                  <ul> -->
                    <%#- flash.each do |name, msg| -%>
                    <%#= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
                    <%#- end -%>
    <!--               </ul>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      <% #end %>
      <!-- Flash notice Ends Here -->

      <div class="container"> 
        <!-- Nav tabs -->
          <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="login-box">
              <div class="login-title">Login</div>
              <div class="login-box-con">
                <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-horizontal"}) do |f| %>
                  <div class="form-group form-group-lg">
                    <label class="col-sm-3 control-label" for="formGroupInputLarge">Username or e-mail</label>
                    <div class="col-sm-9">
                      <%= f.text_field :login , :class =>"form-control" , :placeholder => "Enter your Username or Email" %>
                    </div>
                  </div>

                  <div class="form-group form-group-lg">
                    <label class="col-sm-3 control-label" for="formGroupInputLarge">Password</label>
                    <div class="col-sm-9">
                        <%= f.password_field :password, autocomplete: "off", :class =>"form-control", :placeholder => "Enter your password"  %>
                    </div>
                  </div>

                  <div class="checkbox">
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-4">
                      <% if devise_mapping.rememberable? -%>
                        <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
                      <% end -%>
                      <%= f.hidden_field :domain, value: (request.subdomain.present? ? request.subdomain : false)%>
                    </div>
                  </div>
                    
                  <div class = "logn-btn">
                    <%= f.submit "Sign up", :class => "btn btn-warning" %>
                  </div>

                  <div class="forgot-pwd">
                    <%= render "devise/shared/links" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="footer_left col-lg-6">2014 © FixNix Audit Management</div>
          <div class="footer_right col-lg-6">Powered By<img src="img/footer_logo.png" alt=""/></div>
        </div>
      </div>
    </div>
</div>
