<%= f.fields_for :classic_scorings do |classic| %>

<div class="row">
  <div class="likelihood matrix-padding clearfix">
    <div class="base-score-matrix">Classic Score Metrics
      <div class="up-triangle"></div>
    </div>
    <div class="">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="form-group">
            <div class="col-sm-12">
                <%= classic.label :likelihood, t('classic.likelihood') %>
              <div class="risk-select">
                <%= classic.select :likelihood, (0..10), { include_blank: '--Select Score--' }, { :class => "form-control" } %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="form-group">
            <div class="col-sm-12">
              <%= classic.label :impact, t('classic.impact') %>
              <div class="risk-select">
                <%= classic.select :classic_reproducibility, (0..10), { include_blank: '--Select Score--' }, { :class => "form-control" } %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="form-group">
            <div class="col-sm-12">
              <%= classic.label :vulnerability, t('classic.vuln') %>
              <div class="risk-select">
                <%= classic.select :vulnerability, (0..10), { include_blank: '--Select Score--' }, { :class => "form-control" } %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="form-group">
            <div class="col-sm-12">
                <%= classic.label :velocity, t('classic.velocity') %>
              <div class="risk-select">
                <%= classic.select :likelihood, (0..10), { include_blank: '--Select Score--' }, { :class => "form-control" } %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        </div>
      </div>

  </div>
</div>



<% end %>