                <%= javascript_include_tag "/assets/views/risk_new.js" %>

                <!-- First Row Starts -->
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                    <div class="form-group clearfix">
                      <label class="col-sm-4 control-label">
                        <%= f.label :subject, t('risk.subject') %>
                      </label>
                      <div class="col-sm-8">
                        <%= f.text_field :subject, :class => "form-control risk-normal-input" %>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                    <div class="form-group clearfix">
                      <label class="col-sm-4 control-label">
                        <%= f.label :reference, t('risk.reference') %>
                      </label>
                      <div class="col-sm-8">
                        <%= f.text_field :reference, :class => "form-control risk-normal-input" %>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                    <div class="form-group clearfix">
                      <label class="col-sm-4 control-label">
                        <%= f.label :compliance_id, t('risk.compliance') %>
                      </label>
                      <div class="col-sm-8">
                        <div class="risk-select">
                          <%= f.collection_select(:compliance_id, Compliance.all, :id, :name, {:include_blank => "--Select Compliance--"}, {:class => "form-control", :id => "compliance-list", :onChange => "get_compliance_libraries(this)"}) %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- First Row Ends -->

                <!-- Second Row Test -->
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                    <div class="form-group clearfix">
                      <label class="col-sm-4 control-label">
                        <%= f.label :compliance_library_id, t('risk.control_number') %>
                      </label>
                      <div class="col-sm-8">
                        <div class="risk-select">
                          <%= f.collection_select(:compliance_library_id, ComplianceLibrary.where(:is_leaf => true), :id, :name, {include_blank: '--Select Control--' }, {:class => "form-control"}) %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                    <div class="form-group clearfix">
                      <label class="col-sm-4 control-label">
                        <%= f.label :location_id, t('risk.location') %>
                      </label>
                      <div class="col-sm-8">
                        <div class="risk-select">
                          <%= f.select :location_id, options_for_select(current_company.locations.collect{|x| [x.name, x.id.to_i]}, :selected => risk.location_id), {include_blank: '--Select Location--' }, { :id => "locations-list", :class => "form-control", :onChange => "get_departments(this);"} %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                    <div class="form-group clearfix">
                      <label class="col-sm-4 control-label">
                        <%= f.label :department_id, t('risk.department') %>
                      </label>
                      <div class="col-sm-8">
                        <div class="risk-select">
                          <%= f.collection_select(:department_id, current_company.departments, :id, :name, {:include_blank => "--Select Department--"}, { :id => "department_id", :class => "form-control", :onChange => "get_teams(this);"}) %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Second Row Ends Test -->

                <!-- Third Row Starts -->
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                    <div class="form-group clearfix">
                      <label class="col-sm-4 control-label">
                        <%= f.label :team_id, t('risk.team') %>
                      </label>
                      <div class="col-sm-8">
                        <div class="risk-select">
                          <%= f.select :team_id, options_for_select(current_company.teams.collect{|x| [x.name, x.id.to_i]}, :selected => risk.team_id), {include_blank: '--Select Team--' }, { :id => "team_id", :class => "form-control", :onChange => "get_auditee_users(this);"} %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                    <div class="form-group clearfix">
                      <label class="col-sm-4 control-label">
                        <%= f.label :category_id, t('risk.category') %>
                      </label>
                      <div class="col-sm-8">
                        <div class="risk-select">
                          <%= f.collection_select(:category_id, current_company.risk_categories, :id, :name, { include_blank: '--Select Category--' }, {:class => "form-control"}) %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                    <div class="form-group clearfix">
                      <label class="col-sm-4 control-label">
                        <%= f.label :technology_id, t('risk.technology') %>
                      </label>
                      <div class="col-sm-8">
                        <div class="risk-select">
                          <%= f.collection_select(:technology_id, current_company.technologies, :id, :name, { include_blank: '--Select Technology--' }, {:class => "form-control"}) %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Third Row Ends -->

                <!-- Fourth Row Starts -->
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                    <div class="form-group clearfix">
                      <label class="col-sm-4 control-label">
                        <%= f.label :owner, t('risk.owner') %>
                      </label>
                      <div class="col-sm-8">
                        <div class="risk-select">
                          <%= f.select :owner, options_for_select(["Some text here", ""]), {include_blank: '--Select Team--' }, { :id => "teams-list", :class => "form-control", :onChange => "get_departments(this);"} %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                    <div class="form-group clearfix">
                      <label class="col-sm-4 control-label">
                        <%= f.label :mitigator, t('risk.mitigator') %>
                      </label>
                      <div class="col-sm-8">
                        <div class="risk-select">
                          <%= f.select :owner, options_for_select(["Some text here", ""]), {include_blank: '--Select Team--' }, { :id => "teams-list", :class => "form-control", :onChange => "get_departments(this);"} %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
                    <div class="form-group clearfix">
                      <label class="col-sm-4 control-label">
                        <%= f.label :reviewer, t('risk.reviewer') %>
                      </label>
                      <div class="col-sm-8">
                        <div class="risk-select">
                          <%= f.select :owner, options_for_select(["Some text here", ""]), {include_blank: '--Select Team--' }, { :id => "teams-list", :class => "form-control", :onChange => "get_departments(this);"} %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Fourth Row Ends -->

                <div class="clearfix border-divider"> </div>

                <!-- Fifth Row Starts -->
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group clearfix">
                      <div class="col-sm-12">
                        <%= f.label :assessment, t('risk.assessment') %>
                        <%= f.text_area :assessment, :class=>"form-control risk-big-input" %>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group clearfix">
                      <div class="col-sm-12">
                        <%= f.label :notes, t('risk.notes') %>
                        <%= f.text_area :notes, :class=>"form-control risk-big-input" %>
                      </div>
                    </div>
                  </div>
                </div>
              <!-- Fifth Row Ends -->

              <div class="clearfix border-divider"> </div>

              <div class="row">
                <div class="likelihood clearfix">
                  <div class="">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                      <div class="form-group">
                        <div class="col-sm-12">
                          <%= f.fields_for :risk_scorings do |scoring| %>
                          <label>Scoring Type</label>
                            <div class="risk-select">
                              <%= scoring.select(:scoring_type, RiskScoring::SCORING_TYPES, :include_blank => "--Select Scoring Type--", :id=>"scoring_type") %>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    </div>
                  </div>
                </div>
              </div>

              <%= render 'owasp_scoring', :f => f %>







              <div class="clearfix border-divider"> </div>


