<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>printout</title>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>

<style type="text/css">
body{ font-family: 'Open Sans', sans-serif;}
.wrapper{ margin:0 auto; width:800px; padding:20px 0;}
.wrapper table{ font-size:12px;}
.wrapper table td{ text-align:center;}
h2{ font-size:18px; font-weight:bold;}
h4{ font-size:14px; font-weight:bold;}
.textaligncenter{ text-align:center;}
.cls{ clear:both;}
.side{ width:100%;}
.leftside{ width:50%; float:left;}
.rightside{ width:50%; float:left;}
.leftside label,.rightside label {float: left;padding: 5px 10px; font-weight:bold;width: 35%; font-size:12px;}
.label_content {
  padding: 5px 0;font-size:12px; width:70%; float: right; word-wrap:break-word; overflow: hidden;
}
.label_content_top {
  padding: 5px 0;font-size:12px;
}
label {float: left;padding: 5px 10px; font-weight:bold; width: 25%; font-size:12px;}
.line{ border-bottom:1px solid #989898; height:1px; padding:25px 0 0;}
.paddingbottom{ padding-bottom: 50px;}
.logo{height: 50px; border-bottom:5px solid #0085C8; font-size: 30px; text-align: center;}
.content-wrap{width: 100%;}
</style>
</head>

<body>
<!-- Wrapper Start-->
<div class="wrapper">

  <div class="logo">

  </div>
<!--Title Start-->
<h2 class="textaligncenter">Report for Risk</h2>
<!--Title Start-->
<div class="cls"></div>
<!-- SideContent Start-->
<div class="side">
<!-- Leftside Content Start-->
<div class="leftside">
<label>Audit Title: </label>
<div class="label_content_top"><%= @risk.subject %></div>
<label>Complaince: </label>
<div class="label_content_top"><%= @risk.compliance_name %></div>
<div class="cls"></div>

<label>Audit Location :</label>
<div class="label_content_top"><%= @risk.location_name %></div>

</div>
<!-- Leftside Content End-->
<!-- Rightside Content Start-->
<div class="rightside">
<label>Department : </label>
<div class="label_content_top"><%= @risk.department_name %></div>
<div class="cls"></div>


<label> Risk Owner : </label>
<div class="label_content_top"><%= @risk.risk_owner_user_name %></div>

</div>
<!-- Rightside Content End-->
</div>
<div class="cls"></div>
<div class="line"></div>
<div class="cls"></div>

<label>Risk Mitigator: </label>
<div class="content-wrap">
<div class="label_content"><%= @risk.risk_mitigator_user_name %></div>
</div>
<div class="cls"></div>
<div class="content-wrap">
<label>Risk Reviewer :</label>
<div class="label_content"><%= @risk.risk_reviewer_user_name %></div>
</div>
<div class="cls"></div>
<div class="content-wrap">
<label> Technology : </label>
<div class="label_content"><%= @risk.technology_name %></div>
</div>
<div class="cls"></div>
<div class="content-wrap">
<label> Category : </label>
<div class="label_content"><%= @risk.risk_category_name  %></div>
</div>
<div class="cls"></div>
<div class="content-wrap">
<label> Scoring Type : </label>
<div class="label_content"> <%=@risk.risk_scoring_scoring_type %></div>
</div>
<div class="cls"></div>
<!-- SideContent End-->
<div class="paddingbottom"></div>
<!-- Client Audited Start-->


</div>
<!-- Wrapper End-->

</body>
</html>
