<%= form_for(@audit) do |f| %>

<%= f.fields_for :nc_questions do |builder| %>
	<%= render 'nc_question_fields', :f => builder %>		
<% end %>

<p><%= link_to_add_fields "Add Request", f, :nc_questions %>
	<div class="col-lg-4 col-sm-6 col-xs-12"></div>
    <div class="col-lg-4 col-sm-6 col-xs-12"></div>
    <div class="col-lg-4 col-sm-6 col-xs-12"><br><br>
    	<a class="black_btn" href="">Cancel</a>
    	<a class="black_btn" href="">Reset</a>
        <%= f.submit "Ask Auditee", :class => "orange_btn" %>             
    </div>             

<% end %>
