<fieldset>
          <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="form-group clearfix">
              <%= f.label :question, t('nc_question.request'), :class => "col-sm-4" %>
              <div class="col-sm-7">
                <%= f.text_field :question, :class => "audit-normal-input" %>
              </div>
            </div>
            <div class="form-group clearfix">
              <%= f.label :question_type_id, t('nc_question.resp_type'), :class => "col-sm-4 control-label" %>
              <div class="col-sm-7">
                <%= f.collection_select(:question_type_id, QuestionType.all, :id, :name, {}, {:id => 'question_response'}) %>
              </div>
              <%= f.fields_for :question_options do |builder| %>
                  <%= render 'option_fields', f: builder %>                 
              <% end %>
            

            </div>            
          </div>
          <div class="col-lg-4 col-sm-6 col-xs-12">          
            <div class="form-group clearfix">
              <%= f.label :auditee_id, t('nc_question.assign_auditee'), :class => "col-sm-4 control-label" %>
              <div class="col-sm-7">
                <%= f.collection_select(:auditee_id, User.all, :id, :full_name)  %>
              </div>
            </div>
            <div class="form-group clearfix">
              <%= f.label :target_date, t('nc_question.target_date'), :class => "col-sm-4 control-label" %>
              <div class="col-sm-7">
                <div class="form-group">
                  <div class='input-group date' id='datetimepicker1'>
                    <%= f.date_field :target_date, :class => "form-control" %>              
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span> </span> </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-xs-12">
          <div class="form-group clearfix">              
              <%= f.label :priority_id, t('nc_question.priority'), :class => "col-sm-4 control-label" %>
              <div class="col-sm-7">
                <%= f.collection_select(:priority_id, Priority.all, :id, :name)  %>  
              </div>
            </div>
            <div class="form-group clearfix">
              <%= f.label :does_require_document, t('nc_question.need_doc'), :class => "col-sm-5" %>           
              <%= f.check_box :does_require_document %>  <br>      
            </div>               
        <div class="form-group clearfix">
          <div class="col-sm-12">
              <%= f.label :nc_library, t('nc_question.save_to_lib') %>
              <%= f.check_box :nc_library %> 
          </div>    
        </div>
          </div>
          <div class="clearfix border-divider"> </div>
          
          <div class="clearfix border-divider"> </div>
          
          <div class="col-lg-4 col-sm-6 col-xs-12">
           
          </div>
          <div class="col-lg-4 col-sm-6 col-xs-12">
            
          </div>
          <div class="col-lg-4 col-sm-6 col-xs-12"><br><br>
       
           <a class="black_btn" href="">Cancel</a> <a class="black_btn" href="">Reset</a>
           <%= f.submit "Ask Auditee", :class => "orange_btn" %>             
         </div>
</fieldset>         