<html xmlns="http://www.w3.org/1999/xhtml"><head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>FixNix Audit Notifications</title>


      <style>
      body{background:#f7f7f7; font-family:arial;}

      </style>


   </head>
<body>
<table style="margin:0 auto; width:580px;">
<tr><td align="right" style="font-family: Helvetica, arial, sans-serif; font-size: 10px;color: #999999;padding: 5px 0 10px;" st-content="preheader">If you cannot read this email, please  <a class="hlite" href="#" style="text-decoration: none; color: #0085c8">click here</a> </td></tr>
</table>

<table style="margin:0 auto; width:580px;"  cellpadding="0" cellspacing="0" border="0" >
<tr bgcolor="#0085c8" ><td style="color:#fff; padding:20px;" ><strong>Your audit has been successfully created</strong></td></tr>
</table>


<table style="margin:0 auto; width:580px;"  cellpadding="0" cellspacing="0" border="0" >
<tr><td style="color:#999999; padding:10px 0 0 20px;" ><strong>Audit Summary</strong></td>
</tr>
<tr><td style="color:#999999; padding:10px 0 0 20px;" >Auditor : <%= @audit.auditory.full_name %></td></tr>
<tr><td style="color:#999999; padding:10px 0 0 20px;" >Auditees : <%= @audit.auditees.map(&:full_name).join(', ') %></td></tr>
<tr><td style="color:#999999; padding:10px 0 0 20px;" >Start Date : <%= @audit.start_date %></td></tr>
<tr><td style="color:#999999; padding:10px 0 0 20px;" >End Date : <%= @audit.start_date %></td></tr>
<tr><td style="color:#999999; padding:10px 0 0 20px;" >Title : <%= @audit.title %></td></tr>
</table>

<table style="margin:15px auto; width:580px;"  cellpadding="0" cellspacing="0" border="0">
<tr><td><a style="background:#0085c8; color:#fff; border-radius:5px; padding:5px 20px; text-decoration:none; margin: 0 0 0 15px;"  href="">Go to App</a></td></tr>
</table>
<table style="margin:0px auto; width:580px;"  cellpadding="0" cellspacing="0" border="0">
<tr><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td></tr>
<tr bgcolor="#0085c8"><td>&nbsp;</td></tr>
</table>


</body>
</html>