<html xmlns="http://www.w3.org/1999/xhtml"><head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Minty-Multipurpose Responsive Email Template</title>


      <style>
      body{background:#99c155; font-family:arial; margin:0; background-image:url("http://appquest.in/assets/outer/main_bg.jpg"); background-repeat:repeat-x; }

      </style>


   </head>
<body>
<table  style="margin:0 auto; width:625px;border-spacing: 0;">
<tr>
<td style="background-image:url('http://appquest.in/assets/outer/header_top.png'); background-repeat:no-repeat; width:625px; height:59px; text-align:right; color:#82837a; font-size:12px; vertical-align: top; padding: 10px 50px; background-position: center top;">
Having trouble viewing this email? <a style="color:#74ac37; text-decoration:none;" href="">View it in your browser</a>
</td>
</tr>
</table>

<table style="background-image:url('http://appquest.in/assets/outer/header_right_bg.png'); background-repeat:no-repeat;margin:0 auto; width:625px;background-position: right top;">
<tr><td style="color:#fff; font-size:20px; font-weight:bold;">Company Name</td><td style="font-size: 14px;padding: 10px 20px;text-align: right; color:#64972f"> Note : <span>Notification</span></td></tr>
</table>


<table style="background-image:url('http://appquest.in/assets/outer/content_top.png'); background-repeat:no-repeat;margin:-6px auto 0; width:625px;">
<tr><td>&nbsp;</td></tr>
</table>

<table style="margin:0 auto; width:625px;background-image:url('http://appquest.in/assets/outer/middle_content.png');background-repeat:repeat-y; "  cellpadding="0" cellspacing="0" border="0" >
<tr><td style="color:#64972f; padding:10px 0 0 20px; font-size:20px;" >Your audit "<%= @audit.title %>" has been successfully created.</td>
</tr>
<tr><td style="color:#999999; padding:10px 0 0 20px; font-size:14px;" >Below is the summary about your audit.</td></tr>
<tr><td style="color:#999999; padding:10px 0 0 20px; font-size:14px;" >Auditor : <%= @audit.auditory_full_name %></td></tr>
<tr><td style="color:#999999; padding:10px 0 0 20px; font-size:14px;" >Auditees : <%= @audit.auditees.map(&:full_name).join(', ') %></td></tr>
<tr><td style="color:#999999; padding:10px 0 0 20px; font-size:14px;" >Start Date : <%= @audit.start_date %></td></tr>
<tr><td style="color:#999999; padding:10px 0 0 20px; font-size:14px;" >End Date : <%= @audit.end_date %></td></tr>
</table>

<table style="margin:0 auto; width:625px; padding: 20px 0;background-image:url('http://appquest.in/assets/outer/middle_content.png');background-repeat:repeat-y;"  cellpadding="0" cellspacing="0" border="0">
<tr><td><%= link_to 'View Audit', "" , :style => "background:#74ac37; color:#fff; border-radius:5px; padding:10px 30px; border:1px solid #6c9c39; text-decoration:none; margin: 0 0 0 15px; font-size:12px;" %></td></tr>
</table>




<table style="background-image:url('http://appquest.in/assets/outer/bottom_content.png'); background-repeat:no-repeat;margin:0 auto; width:625px;">
<tr><td>&nbsp;</td></tr>
</table>


<table style="margin:0px auto; width:625px;"  cellpadding="0" cellspacing="0" border="0">
<tr><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td></tr>

</table>


</body>
</html>