<html xmlns="http://www.w3.org/1999/xhtml">

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mail For Escalation</title>

  <style>
  body{background:#99c155; font-family:arial; margin:0; background-image:url(main_bg.jpg); background-repeat:repeat-x; }

  </style>
</head>

<body>
<table  style="margin:0 auto; width:625px;border-spacing: 0;">
<tr>
<td style="background-image:url(header_top.png); background-repeat:no-repeat; width:625px; height:59px; text-align:right; color:#82837a; font-size:12px; vertical-align: top; padding: 10px 50px; background-position: center top;">
Having trouble viewing this email? <a style="color:#74ac37; text-decoration:none;" href="">View it in your browser</a>
</td>
</tr>
</table>

<table style="background-image:url(header_right_bg.png); background-repeat:no-repeat;margin:0 auto; width:625px;background-position: right top;">
<tr><td style="color:#fff; font-size:20px; font-weight:bold;">Company Name</td><td style="font-size: 14px;padding: 10px 20px;text-align: right; color:#64972f"> Note : <span>Reminder</span></td></tr>
</table>


<table style="background-image:url(content_top.png); background-repeat:no-repeat;margin:-6px auto 0; width:625px;">
<tr><td>&nbsp;</td></tr>
</table>

<table style="margin:0 auto; width:625px;background-image:url(middle_content.png);background-repeat:repeat-y; "  cellpadding="0" cellspacing="0" border="0" >

<% if @recommendation.checklist_type = "AuditCompliance" %>
<tr><td style="color:#64972f; padding:10px 0 0 20px; font-size:20px;" >Dear <%= @recommendation.checklist.artifact_answers.last.responsibility.user_name %>, </td></tr>
<% else %>
<tr><td style="color:#64972f; padding:10px 0 0 20px; font-size:20px;">Dear <%= @recommendation.checklist.nc_question.auditee_email %>, </td></tr>
<% end %>

<tr><td style="color:#999999; padding:10px 0 0 20px; font-size:16px;" >We would like to request to take necessary steps to take it for quick closure.</td></tr>
<tr><td style="color:#999999; padding:10px 0 0 20px; font-size:16px;" >Please be advised the following Audit task is pending with your Team member </td></tr>

<tr><td style="color:#999999; padding:10px 0 0 20px; font-size:14px;" >Audit Name:<%= @recommendation.checklist.audit.title %> </td></tr>
<tr><td style="color:#999999; padding:10px 0 0 20px; font-size:14px;" >	Auditor Name :<%= @recommendation.checklist.audit.auditory.user_name %> </td></tr>

<tr><td style="color:#999999; padding:10px 0 0 20px; font-size:14px;" >	Recommendation: <%= @recommendation.recommendation %> </td></tr>
<tr><td style="color:#999999; padding:10px 0 0 20px; font-size:14px;" >	Due date : <%= @recommendation.closure_date %> </td></tr>
<tr><td style="color:#999999; padding:10px 0 0 20px; font-size:14px;" >	Priority : <%= @recommendation.recommendation_priority_name %> </td></tr>

<table style="margin:0 auto; width:625px; padding: 20px 0;background-image:url(middle_content.png);background-repeat:repeat-y;"  cellpadding="0" cellspacing="0" border="0">
<tr><td><a style="background:#74ac37; color:#fff; border-radius:5px; padding:10px 30px; border:1px solid #6c9c39; text-decoration:none; margin: 0 0 0 15px; font-size:12px;"  href="">View Audit Details</a></td></tr>
</table>

<table style="background-image:url(bottom_content.png); background-repeat:no-repeat;margin:0 auto; width:625px;">
<tr><td>&nbsp;</td></tr>
</table>


<table style="margin:0px auto; width:625px;"  cellpadding="0" cellspacing="0" border="0">
<tr><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td></tr>

</table>


</body>
</html>