<style>
/* make sidebar nav vertical */ 
@media (min-width: 768px){
  .affix-content .container {
    width: 700px;
  }   

  html,body{
    background-color: #f8f8f8;
    height: 100%;
    overflow: hidden;
  }
    .affix-content .container .page-header{
    margin-top: 0;
  }

  .affix-sidebar{
    padding-right:0; 
    font-size:small;
    padding-left: 0;
  }  
  .affix-row, .affix-container, .affix-content{
    height: 100%;
    overflow: scroll;
    margin-left: 0;
    margin-right: 0;    
  } 
  .affix-content{
    background-color:white; 
  } 
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar{
    border-radius:0; 
    margin-bottom:0; 
    border:0;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }  
}

@media (min-width: 769px){
  .affix-content .container {
    width: 600px;
  }
    .affix-content .container .page-header{
    margin-top: 0;
  }  
}

@media (min-width: 992px){
  .affix-content .container {
  width: 900px;
  }
    .affix-content .container .page-header{
    margin-top: 0;
  }
}

@media (min-width: 1220px){
  .affix-row{
    overflow: hidden;
  }

  .affix-content{
    overflow: auto;
  }

  .affix-content .container {
    width: 1000px;
  }

  .affix-content .container .page-header{
    margin-top: 0;
  }
  .affix-content{
    padding-right: 30px;
    padding-left: 30px;
  }  
  .affix-title{
    border-bottom: 1px solid #ecf0f1; 
    padding-bottom:10px;
  }
  .navbar-nav {
    margin: 0;
  }
  .navbar-collapse{
    padding: 0;
  }
  .sidebar-nav .navbar li a:hover {
    background-color: #428bca;
    color: white;
  }
  .sidebar-nav .navbar li a > .caret {
    margin-top: 8px;
  }  
}
</style>


<div class="content">
<div class="row affix-row">
    <div class="col-sm-3 col-md-2 affix-sidebar">
		<div class="sidebar-nav">
  <div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <span class="visible-xs navbar-brand">Sidebar menu</span>
    </div>
    <div class="navbar-collapse collapse sidebar-navbar-collapse">
      <ul class="nav navbar-nav" id="sidenav01">
        <li>
          <a data-parent="#sidenav01">
          <h4>
          Asset Inventory
          <br>          
          </h4>
          </a>
        </li>
        <li class="<%= request.fullpath.include?("information_assets") == true ? 'active' : '' %>"><a href="/inventory/information_assets"><span><i class="lock icon"></i></span> Information Assets </a></li>
        
        <li class="<%= request.fullpath.include?("computers") == true ? 'active' : '' %>"><a href="/inventory/computers"><span><i class="desktop icon"></i></span> Computers / Servers </a></li>
        
        <li class="<%= request.fullpath.include?("mobile_assets") == true ? 'active' : '' %>"><a href="/inventory/mobile_assets"><span><i class="tablet icon"></i> Mobile Assets </a></li>
        
        <li class="<%= request.fullpath.include?("softwares") == true ? 'active' : '' %>"><a href="/inventory/softwares"><span><i class="cloud download icon"></i> Software Assets </a></li>
        
        <li class="<%= request.fullpath.include?("services") == true ? 'active' : '' %>"><a href="/inventory/services"><span><i class="sitemap icon"></i></span> Service Assets </a></li>

        <li class="<%= request.fullpath.include?("other_assets") == true ? 'active' : '' %>"><a href="/inventory/other_assets"><span><i class="suitcase icon"></i></span> Miscellaneous Assets </a></li>

        <li class="<%= request.fullpath.include?("documents") == true ? 'active' : '' %>"><a href="/inventory/documents"><span><i class="book icon"></i></span> Document Assets </a></li>

        <li class="<%= request.fullpath.include?("source_codes") == true ? 'active' : '' %>"><a href="/inventory/source_codes"><span><i class="code icon"></i></span> Source Code </a></li>

        <li class="<%= request.fullpath.include?("vehicles") == true ? 'active' : '' %>"><a href="#"><span><i class="truck icon"></i></span> Vehicle Assets </a></li>
      </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
	</div>