<%= javascript_include_tag "/assets/views/asset.js" %>

<div class="clearfix border-divider"></div>

<div class="clearfix">
  <h4><b>CIA/Security Properties</b></h4>
</div>

<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="form-group clearfix">
      <div class="col-sm-12">
        <%= ff.label :confidentiality %>
        <div class="risk-select width-fix">
          <%= ff.collection_select(:confidentiality, AssetCriticality.all, :id, :name, {}, {:class => "score", :id => "conf"}) %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">   
    <div class="form-group clearfix">
      <div class="col-sm-12">
        <%= ff.label :integrity %>
        <div class="risk-select width-fix">        
          <%= ff.collection_select(:integrity, AssetCriticality.all, :id, :name, {}, {:class => "score", :id => "inte"}) %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="form-group clearfix">
      <div class="col-sm-12">
        <%= ff.label :availability %>
        <div class="risk-select width-fix">
          <%= ff.collection_select(:availability, AssetCriticality.all, :id, :name, {}, {:class => "score", :id => "avai"}) %>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
    <div id="score_color" class="high-box">
      <div class="number" id="total_score">9</div>
      <div class="text">Asset Value</div>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="ui info message">Asset Value is calculated based on Confidentiality(C), Integrity(I) and Availability(A). The values of High, Medium and Low are configured with 3, 2 and 1 respectively.
    <br><br>
    For example, if C, I and A are High, Medium and Low respectively the asset value will be <code> 3 + 2 + 1 = 6 </code></div>
  </div>
</div>

<br>
<!-- Fourth Row -->
<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="form-group clearfix">
      <div class="col-sm-12">
        <%= ff.label :classification_id %>
        <div class="risk-select width-fix">
          <%= ff.collection_select(:classification_id, Classification.all, :id, :name) %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Fifth Row -->
<div class ="row">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
      <div class="form-group clearfix">
        <label class="col-sm-4 control-label">
          <%= ff.label :personal_data %>
        </label>
        <div class="ui toggle checkbox">
        <div class="col-sm-8">
          <%= ff.check_box :personal_data %>
          <label></label>
        </div>
      </div>
  </div>
</div>

  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
      <div class="form-group clearfix">
        <label class="col-sm-4 control-label">
          <%= ff.label :sensitive_data %>
        </label>
        <div class="ui toggle checkbox">
        <div class="col-sm-8">
          <%= ff.check_box :sensitive_data %>
          <label></label>
        </div>
      </div>
  </div>
</div>

  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
      <div class="form-group clearfix">
        <label class="col-sm-4 control-label">
          <%= ff.label :customer_data %>
        </label>
        <div class="ui toggle checkbox">
        <div class="col-sm-8">
          <%= ff.check_box :customer_data %>
          <label></label>
        </div>
      </div>
  </div>
</div>
</div>

<div class="clearfix border-divider"></div>

<div class="clearfix">
  <h4><b>Assignment</b></h4>
</div>
<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="form-group clearfix">
      <div class="col-sm-12">
        <%= ff.label :owner_id %>
        <div class="risk-select width-fix">
          <%= ff.collection_select(:owner_id, current_company.users, :id, :user_name) %>
        </div>
      </div>
    </div>
  </div>


  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="form-group clearfix">
      <div class="col-sm-12">
        <%= ff.label :custodian_id %>
        <div class="risk-select width-fix">
          <%= ff.collection_select(:custodian_id, current_company.users, :id, :user_name) %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="form-group clearfix">
      <div class="col-sm-12">
        <%= ff.label :evaluated_by %>
        <div class="risk-select width-fix">
          <%= ff.collection_select(:evaluated_by, current_company.users, :id, :user_name) %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="form-group clearfix">
      <div class="col-sm-12">
        <%= ff.label :location_id %>
        <div class="risk-select width-fix">
          <%= ff.collection_select(:location_id, current_company.locations, :id, :name) %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div class="form-group clearfix">
      <div class="col-sm-12">
        <%= ff.label :department_id %>
        <div class="risk-select width-fix">
          <%= ff.collection_select(:department_id, current_company.departments, :id, :name) %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group clearfix">
      <div class="col-sm-12">
        <%= ff.label :asset_users, "Asset Users (Enter the asset user email ids seperated by commas)" %>
        <%= ff.text_area :asset_users, :class=>"form-control asset-big-input", :id => "tags" %>
      </div>
    </div>
  </div>  
</div>