<%= link_to 'Clear Audit Trail', clear_audit_path,
            :confirm => 'Do you really want to delete all activity logs?', :method => :delete %>


<h1> Activities</h1>
<% @users = User.where(company_id: current_company) %>
<% user_ids = @users.map(&:id) %>
<% @filtered_activities = PublicActivity::Activity.where("owner_id IN(?)",user_ids) %>
<% @filtered_activities.each do |activity| %>
  <%= activity.owner.full_name %> has <%= parse_and_convert(activity.key) %> <%= activity.created_at %> from <%= activity.ip %><br>
<% end %>


