Test Page
<div id="Accordion1">
 <% @checklist_recommendations.each do |checklist| %>
            <% checklist_recommendation = checklist.checklist_recommendation %>
              <h3><a href="#"><%= checklist.compliance_library_name%></a> <span class="fright pending_msg" id= "observation_status"><%= checklist_recommendation.is_published == true ? 'Completed' : 'Pending'%></span></h3>
              <div>
                <div class="row audit-title">
                <%= form_tag '/checklist_recommendations/audit_observation_create' , :remote=>true , multipart: true do%>
                  <div class="col-lg-4">


                    <div class="form-group clearfix">
                      <% @artifact_answers = checklist.artifact_answers.first%>
                      <label class="col-sm-5"><b>Artifact :</b> </label>
                      <div class="col-sm-7"><a class="blue_link" href=""><%= @artifact_answers.artifact_display_name if @artifact_answers%></a> </div>
                        <% if checklist.artifact_answers.count > 1 %>
                          <div class="col-sm-12"><a class="blue_link pull-right" href = "javascript:artifact_modal(<%= checklist.id%>);" >more</a></div>
                        <%end%>
                    </div>

                    <div class="form-group clearfix">
                      <label  class="col-sm-5"><b>Recommendation :</b> </label>
                      <div class="col-sm-7"> <%= checklist_recommendation.recommendation%></div>
                    </div>
                    <div class="form-group clearfix">
                      <label  class="col-sm-5"><b>Priority :</b> </label>
                      <div class="col-sm-7"> <%= checklist_recommendation.recommendation_priority.name%></div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group clearfix">
                      <label class="col-sm-5"><b>Comment :</b> </label>
                      <div class="col-sm-7"><%= @artifact_answers.comment_comment if @artifact_answers%> </div>
                    </div>
                    <div class="form-group clearfix">
                      <label  class="col-sm-5"><b>Reason :</b> </label>
                      <div class="col-sm-7"> procedures as part of the Knowledge Base</div>
                    </div>
                    <div class="form-group clearfix">
                      <label  class="col-sm-5"><b>Severity :</b> </label>
                      <div class="col-sm-7"> <%= checklist_recommendation.recommendation_severity.name%></div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group clearfix">
                      <label class="col-sm-5"><b>Target Date :</b> </label>
                      <div class="col-sm-7"> <%= checklist_recommendation.closure_date%></div>
                    </div>
                    <div class="form-group clearfix">
                      <label  class="col-sm-5"><b>Status :</b> </label>
                      <div class="col-sm-7"><%= checklist_recommendation.recommendation_status.name%></div>
                    </div>



                    <div class="form-group clearfix">
                      <label  class="col-sm-5"><b>Score :</b> </label>
                      <div class="col-sm-7">
                <div class="number_link"> <a class="<%= 'active' if checklist_recommendation.checklist.score_id == 0%>" href="">0</a> <a href="" class="<%= 'active' if checklist_recommendation.checklist.score_id == 1%>">1</a> <a href="" class="<%= 'active' if checklist_recommendation.checklist.score_id == 2%>">2</a> <a href="" class="<%= 'active' if checklist_recommendation.checklist.score_id == 3%>">3</a> <a href="" class="<%= 'active' if checklist_recommendation.checklist.score_id == 4%>">4</a> </div>
                   </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                     <h3>Audit Details</h3>
                  <div class="col-lg-4">

                    <div class="form-group clearfix">
                      <label class="col-sm-5">Corrective Action</label>
                      <div class="col-sm-7"> <%= checklist_recommendation.corrective%> </div>
                    </div>
                    <div class="form-group clearfix">
                      <label class="col-sm-5 control-label">Status</label>
                      <div class="col-sm-7"> <%= checklist_recommendation.response_status_name %>  </div>
                    </div>
                    <div class="form-group clearfix">
                      <div class="col-sm-12"><a class="attach-icon fleft blue_link" href="#" onclick="$('#attachment').click();" >Attach Document</a>
                      <%= file_field_tag "checklist_recommendation[attachment]", :style => "visibility:hidden; display:none;",  :id => "attachment"%></div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group clearfix">
                      <label class="col-sm-5">Preventive Action</label>
                      <div class="col-sm-7"> <%= checklist_recommendation.preventive%>  </div>
                    </div>
                    <div class="form-group clearfix">
                      <label class="col-sm-5"><b>Priority :</b></label>
                      <div class="col-sm-7"> <%= checklist_recommendation.response_priority_name %>  </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group clearfix">
                      <label class="col-sm-5">Blocking :</label>
                      <div class="col-sm-7"><%= checklist_recommendation.blocking_recommendation%> </div>
                    </div>
                     <div class="form-group clearfix">
                      <label class="col-sm-5">Dependent :</label>
                      <div class="col-sm-7"> <%= checklist_recommendation.dependent_recommendation%> </div>
                    </div>
                  </div>

                  <div class="clearfix"></div>

                  <h3>Auditor Observation</h3>
                  <div class="clearfix"></div>

                  <div class="col-lg-6">
                  <div class="form-group clearfix">
                      <label  class="col-sm-3">Observation :</label>
                      <div class="col-sm-9">
                      <input class="audit-big-input" type="text" id="observation_<%= checklist_recommendation.id%>" name="checklist_recommendation[observation]" value ="<%= checklist_recommendation.observation if checklist_recommendation.present?%>" >
                      <span class="error_message" id="error_observation_<%= checklist_recommendation.id%>" style="display:none;"><%= MESSAGES["checklist_recommendations"]["observation"]%><span>
                      </div>

                    </div>
                    <div class="form-group clearfix">
                    <label  class="col-sm-3">Implemented</label>
                    <div ><input type="radio"  name="checklist_recommendation[is_implemented]"  value="1" checked="checked"> Yes <input type="radio" name="checklist_recommendation[is_implemented]" value="0"> No</div>
                    </div>

                  </div>
                  <div class="col-lg-6">
                  <div class="form-group clearfix">
                      <label  class="col-sm-3">Remarks : </label>
                      <div class="col-sm-9"> <input class="audit-big-input" type="text" id="remarks_<%= checklist_recommendation.id%>" name="checklist_recommendation[remarks]" value ="<%= checklist_recommendation.remark_comment if checklist_recommendation.present?%>" >
                  <span class="error_message" id="error_remarks_<%= checklist_recommendation.id%>" style="display:none;"><%= MESSAGES["checklist_recommendations"]["remarks"]%><span>
                    </div> </div>
                  <%= hidden_field_tag "checklist_recommendation[id]",  checklist_recommendation.id , :id => "id_#{checklist_recommendation.id}"%>
                  <div class="clearfix fright">
                  <!--<a class="black_btn" href="">Publish</a>-->

                  <input type="submit" value="Observed" class="black_btn" onclick="return audit_observation(<%=checklist_recommendation.id%>)" disabled= <%= checklist_recommendation.is_implemented == 'true'? false : true %> >
                  <!-- @audit.compliance_type == 'NonCompliance'? Topic : Standard -->
                  <!-- <input type="submit" value="Observed" class="black_btn" onclick="return audit_observation(<%=checklist_recommendation.id%>).disabled=false;" > -->
                  </div>
                  </div>

                </div>
              </div>
              <% end %>
              <% end %>
            </div>
<!-- Model for more Artifact  and comments -->
<script>
function artifact_modal(id)
{
  $('#artifact_modal').modal({
    remote: "/checklist_recommendations/list_artifacts_and_comments?id=" + id
  });
}
</script>

<div class="modal fade" id="artifact_modal">
  <div class="modal-dialog modal-dialog_large">
    <div class="modal-content">

    </div>
  </div>
</div>