<script>
var audit_status = "<%= audit_status %>";
var observed_status = <%= @pending_observation%>;
var publish = true;
</script>
<%= javascript_include_tag "/assets/views/checklist_recommendations.js" %>
<div class="clearfix"></div>
  <div class="content">
    <div class="container">
      <div class="row">
        <!-- Nav tabs -->
        <div class="tab_main_title">Auditor Observation</div>
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="all">
            <div class="table-responsive">
              <table class="table table-striped list-table">
                <tr>
                  <th colspan="6"><%= @audit.title.truncate(50) if @audit.title?%></th>
                </tr>
                <tr>
                  <td><label>Client : </label>
                    <span><%= @audit.client_name%></span></td>
                  <td><label>Scope : </label>
                    <span> <%= @audit.scope.truncate(50) if @audit.scope?%></span></td>
                  <td><label>Team : </label>
                    <span> <%= @audit.team_name %></span></td>
                </tr>
                <tr>
                  <td><label>Start Date : </label>
                    <span> <%= @audit.start_date %></span></td>
                  <td><label>End Date : </label>
                    <span> <%= @audit.end_date %></span></td>
                  <td><label>Deliverables : </label>
                    <span> <%= @audit.deliverables %></span></td>
                </tr>
                <tr>
                  <td><label>Objective : </label>
                    <span> <%= @audit.objective.truncate(50) if @audit.objective?%></span></td>
                  <td><label>Context : </label>
                    <span><%= @audit.context.truncate(50) if @audit.context?%> </span></td>
                  <td><label>Method :</label>
                    <span> <%= @audit.methodology.truncate(50) if @audit.methodology?%>  </span></td>
                </tr>
                <tr>
                  <td><label>Issues : </label>
                    <span><%= @audit.issue.truncate(50) if @audit.issue? %>  </span></td>
                  <td><label>Compliance : </label>
                    <span><%= @audit.compliance_type %> </span></td>
                  <td><label><%= @audit.compliance_type == 'Compliance' ? "Standard" : "Topic"%> : </label>
                    <span><%= standard_name(@audit) %>  </span></td>
                </tr>
              </table>
            </div>
          </div>
					
          <div class="container">
            <% if @audit.compliance_type == 'Compliance'%>
			        <%= render "observation",checklist_recommendations: @checklist_recommendations, audit: @audit %>
            <% else %>
              <%= render "nc_observation", observation_answers: @observation_answers, audit: @audit %>
            <% end %>
		  	<div class="clearfix"></div>
	  			<%= form_tag '/audits/asc_calculation', :method => :post do %>
    				<div class="fright paddingtop">
    				<%= hidden_field_tag "id" , @audit.id %>
    				<%#= hidden_field_tag "id" , :value => "#{@pending_observation}" , :id => "observed_status" %>
						<input type="hidden" value = "0" id="observed_check" name="observed_status">
						<% if @observation	%>
								<input type="submit" value="<%= (@audit.audit_status_id == @published_status.id).present? ? 'Published' : 'Publish' %>" class="orange_btn"  <%= 'disabled' if (@audit.audit_status_id == audit_status) %> onclick="return check_observed(<%= @audit.audit_status_id%>);">
						<% end %>
    				</div>
    			<% end %>
          </div>

      </div>
    </div>
  </div>


<link href="/assets/outer/jquery.ui.core.min.css" rel="stylesheet" type="text/css">
<link href="/assets/outer/jquery.ui.theme.min.css" rel="stylesheet" type="text/css">
<link href="/assets/outer/jquery.ui.accordion.min.css" rel="stylesheet" type="text/css">
<script src="/assets/outer/jquery-ui-1.9.2.accordion.custom.min.js" type="text/javascript"></script>
