<% content_for :javascript_includes do %>
  <%= javascript_include_tag "/assets/views/checklist_recommendations.js" %>
<% end %>
<div class="clearfix"></div>
  <div class="content">
    <div class="container">
      <div class="row">
        <!-- Nav tabs -->
        <div class="tab_main_title">Auditee Response</div>
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="all">
            <div class="table-responsive">
              <table class="table table-striped list-table">
                <tr>
                  <th colspan="6">Audit of the equal Oppertunities Policy</th>
                </tr>
                <tr>
                  <td><label>Client : </label>
                    <span> <%= @audit.client.name if @audit.client.present? %></span></td>
                  <td><label>Title : </label>
                    <span> <%= @audit.title.truncate(50) %></span></td>
                  <td><label>Scope : </label>
                    <span> <%= @audit.scope.truncate(50) %></span></td>
                </tr>
                <tr>
                  <td><label>Team : </label>
                    <span> <%= @audit.team.name unless @audit.team.nil?%></span></td>
                  <td><label>Start Date : </label>
                    <span> <%= @audit.start_date %></span></td>
                  <td><label>End Date : </label>
                    <span><%= @audit.end_date %></span></td>
                </tr>
                <tr>
                  <td><label>Delivarable : </label>
                    <span> <%= @audit.deliverables unless @audit.nil?%></span></td>
                  <td><label>Objective : </label>
                    <span> <%= @audit.objective.truncate(50) unless @audit.objective.nil?%></span></td>
                  <td><label>Context :</label>
                    <span> <%= @audit.context.truncate(50) unless @audit.context.nil?%> </span></td>
                </tr>
                <tr>
                  <td><label>Method : </label>
                    <span> <%= @audit.methodology.truncate(50) unless @audit.methodology.nil?%></span></td>
                  <td><label>Issues : </label>
                    <span>  <%= @audit.issue.truncate(50) unless @audit.issue.nil?%></span></td>
                  <td><label>Compliance : </label>
                    <span> <%= @audit.compliance_type %></span></td>
                </tr>
                <tr>
								<% if @audit.compliance_type == 'Compliance' %>
                  <td><label>Standard : </label>
                    <span><%= standard_name(@audit) %></span></td>
								<% else %>
                  <td><label>Topic : </label>
                    <span><%= standard_name(@audit) %></span></td>
                  <td></td>
								<% end %>
                </tr>
              </table>
            </div>
          </div>
          <div class="container">
            <% if @audit.compliance_type == 'Compliance' %>
				      <%= render "response_auditee",controls: @answered_compliances %>
            <% else %>
              <%= render "nc_response_auditee"  %>
            <% end %>
        </div>
      </div>
    </div>
  </div>

<link href="/assets/outer/jquery.ui.core.min.css" rel="stylesheet" type="text/css">
<link href="/assets/outer/jquery.ui.theme.min.css" rel="stylesheet" type="text/css">
<link href="/assets/outer/jquery.ui.accordion.min.css" rel="stylesheet" type="text/css">
<script src="/assets/outer/jquery-ui-1.9.2.accordion.custom.min.js" type="text/javascript"></script>
<script type="text/javascript">
$(function() {
	$( "#Accordion1" ).accordion();
});
$('body').on('hidden.bs.modal', '.modal', function () {
  $(this).removeData('bs.modal');
});

function display_selected_files(e)
{
$(e).parent().find("#selected_files").html("<h5>selected: " + $(e).val() + "</h5>");
}
</script>
