<table class="table table-striped list-table">
    <tr>
        <th colspan="6"><%= policy.policy_unique_id %>- Version</th>
    </tr>
    <tr>
      <td><label class="col-sm-5"class="col-sm-4">Kind of Policy</label>
        <span><%= policy.policy_kind_name %></span></td>
      <td><label class="col-sm-5"class="col-sm-4">Classification</label>
        <span><%= policy.policy_classification_name %></span></td>
    </tr>
    <tr>
        <td><label class="col-sm-5"class="col-sm-4">Audience</label>
        <span><%= policy.audience_name %></span></td>
        <td><label class="col-sm-5"class="col-sm-4">Locations</label>
        <span>
             <% policy.locations.each do |l| %>
                <%= l.name %>
            <% end %>
        </span></td>
    </tr>
    <tr>
        <td><label class="col-sm-5"class="col-sm-4">Departments</label>
        <span>
            <% policy.departments.each do |d| %>
                <%= d.name %>
            <% end %>
            </span></td>
        <td></td>
    </tr>
</table>
<table class="table table-striped list-table">
    <tr>
        <th colspan="6">Handlers</th>
    </tr>
    <tr>
      <td><label class="col-sm-5"class="col-sm-4">Author</label>
        <span> mm/dd/yyyy</span></td>
      <td><label class="col-sm-5"class="col-sm-4">Owner</label>
        <span><%= policy.policy_owner_user_name %></span></td>
    </tr>
    <tr>
      <td><label class="col-sm-5"class="col-sm-4">Reviewers</label>
        <span>
            <% policy.approvers.each do |u| %>
                <%= u.user_name %>
            <% end %>  
        </span></td>
      <td><label class="col-sm-5"class="col-sm-4">Approvers</label>
        <span>
            <% policy.reviewers.each do |u| %>
                <%= u.user_name %>
            <% end %>
        </span></td>

    </tr>
</table>
<table class="table table-striped list-table">
    <tr>
        <th colspan="6">Dates</th>
    </tr>
    <tr>
      <td><label class="col-sm-5"class="col-sm-4">Effective from:</label>
        <span><%= policy.effective_from.strftime("%b %d, %Y") %></span></td>
      <td><label class="col-sm-5"class="col-sm-4">Effective Till</label>
        <span><%= policy.effective_till.strftime("%b %d, %Y") %></span></td>
    </tr>
    <tr>
      <td><label class="col-sm-5"class="col-sm-4">Expected Publish Date</label>
        <span><%= policy.expected_publish_date.strftime("%b %d, %Y") %></span></td>
      <td><label class="col-sm-5"class="col-sm-4">Next Review Date</label>
        <span><%= policy.review_within_date.strftime("%b %d, %Y") %></span></td>

    </tr>
    <tr>
      <td><label class="col-sm-5"class="col-sm-4">Created at:</label>
        <span><%= policy.created_at.strftime("%b %d, %Y") %></span></td>
      <td><label class="col-sm-5"class="col-sm-4">Last Updated at:</label>
        <span><%= policy.updated_at.strftime("%b %d, %Y") %></span></td>
    </tr>
    <tr>
      <td><label class="col-sm-5"class="col-sm-4">Reviewed at:</label>
        <span> Shan</span></td>
      <td><label class="col-sm-5"class="col-sm-4">Approved at:</label>
        <span>Shan</span></td>
    </tr>
    <tr>
        <td><label class="col-sm-5"class="col-sm-4">Published at:</label>
        <span>Shan</span></td>
        <td></td>
    </tr>
</table>
