<div class="header">
  <div class="container">
    <!-- Fixed navbar -->
    <div role="navigation" class="navbar navbar-inverse ">
      <div class="container">
        <div class="navbar-header">
          <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
         
          </div>
        <div class="navbar-collapse collapse fleft">
          <ul class="nav navbar-nav main_nav">
            <li><a href="/user/edit" class="<%= add_active_class(params) == 'User' ? 'active' : '' %>">
              <div class="overview-icon"></div>
              Over view</a></li>
            <li><a href="/" class="<%= add_active_class(params) == 'Audit' ? 'active' : '' %>">
              <div class="audit-icon"></div>
              Audit</a></li>
            <li class="next-phase"><a href="#" class="<%= add_active_class(params) == 'Risk' ? 'active' : '' %>">
              <div class="risk-icon"></div>
              Risk</a></li>
          </ul>
        </div>
        <div class="user_login">
        
            <img src="/assets/outer/user-icon.jpg">
          <div class="user-name"><%#= current_user.user_name unless current_user.user_name.blank? %></div>
          <span id="login_drop"><img src="/assets/outer/user-down-arrow.png"></span>

          <div class="account_header_dropdown" style="display: none;">
            <ul>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            </ul>
          </div>
        </div>
        <!--/.nav-collapse -->
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<div class="sub_menu">
  <!-- Fixed navbar -->
  <div role="navigation" class="navbar navbar-inverse subnavbar-fixed-top">
    <div class="container">
      <ul class="subbar-nav nav navbar-nav">
        <li><a href="/admin/dashboard">
          Dashboard</a></li>
        <li><a href="/admin/compliances" >
          Compliances</a></li>
        <li><a href="/admin/companies">
          Companies</a></li>
        <li><a href="/admin/modulars" class="active">
          Modulars</a></li>
        <li><a href="/admin/priorities">
          Priority</a></li>
        <li><a href="/admin/question_types">
          QuestionType</a></li>
        <li><a href="/admin/languages">
          Language</a></li>
        <li><a href="/admin/sections">
          Section</a></li>
        <li><a href="/admin/scores">
          Score</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- Notice -->
  <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
<!-- Notice end -->

<script type="text/javascript">
  $(document).ready(function(){

    $( ".user_login" ).mouseenter(function() {
      $(this).addClass("active");
      $(".account_header_dropdown").slideDown(100);
    })
    .mouseleave(function() {
      $(this).removeClass("active");
      $(".account_header_dropdown").hide();
    });

    $("#next-phase").click(function(){
      new Messi('Planned for further phases.');
    });

  });
</script>