<div class="header">
  <div class="container">
    <!-- Fixed navbar -->
    <div role="navigation" class="navbar navbar-inverse ">
      <div class="container">
        <div class="navbar-header">
          <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <div class="navbar-brand">Audit-Risk</div>
          </div>
        <div class="navbar-collapse collapse fleft">
          <ul class="nav navbar-nav main_nav">
            <li><a href="/admin/dashboard" class="<%= add_admin_active_class(params) == 'Settings' ? 'active' : '' %>">
              <div class="overview-icon"></div>
              Over view</a></li>
            <li class="next-phase"><a href="#" class="<%= add_active_class(params) == 'Audit' ? 'active' : '' %>">
              <div class="audit-icon"></div>
              Audit</a></li>
            <li class="next-phase"><a href="#" class="<%= add_active_class(params) == 'Risk' ? 'active' : '' %>">
              <div class="risk-icon"></div>
              Risk</a></li>
          </ul>
        </div>
        <div class="user_login">

            <img src="/assets/outer/user-icon.jpg">
          <div class="user-name">Super Admin</div>
          <span id="login_drop"><img src="/assets/outer/user-down-arrow.png"></span>

          <div class="account_header_dropdown" style="display: none;">
            <ul>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            </ul>
          </div>
        </div>
        <!--/.nav-collapse -->
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<div class="sub_menu">
  <!-- Fixed navbar -->
  <div role="navigation" class="navbar navbar-inverse subnavbar-fixed-top">
    <div class="container">
      <ul class="subbar-nav nav navbar-nav">
        <li><a href="/admin/dashboard" class="<%= request.fullpath.include?("admin/dashboard") == true ? 'active' : '' %>">
          Dashboard</a></li>
        <li><a href="/admin/compliances" class="<%= request.fullpath.include?("/admin/compliances") == true ? 'active' : '' %>">
          Compliances</a></li>
        <li><a href="/admin/companies" class="<%= request.fullpath.include?("admin/companies") == true ? 'active' : '' %>">
          Companies</a></li>
        <li><a href="/admin/modulars" class="<%= request.fullpath.include?("admin/modulars") == true ? 'active' : '' %>">
          Modulars</a></li>
        <li><a href="/admin/priorities" class="<%= request.fullpath.include?("admin/priorities") == true ? 'active' : '' %>">
          Priority</a></li>
        <li><a href="/admin/question_types" class="<%= request.fullpath.include?("admin/question_types") == true ? 'active' : '' %>">
          QuestionType</a></li>
        <li><a href="/admin/languages" class="<%= request.fullpath.include?("admin/languages") == true ? 'active' : '' %>">
          Language</a></li>
        <li><a href="/admin/sections" class="<%= request.fullpath.include?("admin/sections") == true ? 'active' : '' %>">
          Section</a></li>
        <li><a href="/admin/topics" class="<%= request.fullpath.include?("admin/topics") == true ? 'active' : '' %>">
          Topics</a></li>
        <li><a href="/admin/scores" class="<%= request.fullpath.include?("admin/scores") == true ? 'active' : '' %>">
          Score</a></li>
					<li><a href="/admin/compliance_libraries" class="<%= request.fullpath.include?("admin/compliance_libraries") == true ? 'active' : '' %>">
          ComplianceLibrary</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- Notice -->
  <!--<p class="notice"><%#= notice %></p>
    <p class="alert"><%#= alert %></p>-->
<!-- Notice end -->

<script type="text/javascript">
  $(document).ready(function(){

    $( ".user_login" ).mouseenter(function() {
      $(this).addClass("active");
      $(".account_header_dropdown").slideDown(100);
    })
    .mouseleave(function() {
      $(this).removeClass("active");
      $(".account_header_dropdown").hide();
    });

    $("#next-phase").click(function(){
      new Messi('Planned for further phases.');
    });

  });
</script>