<div class="header">
  <div class="container">
    <!-- Fixed navbar -->
    <div role="navigation" class="navbar navbar-inverse ">
      <div class="container">
        <div class="navbar-header">
          <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <% unless current_company.attachment.blank? %>
            <%= link_to image_tag(current_company.attachment.attachment_file, :class => "navbar-brand"), root_path %>
          <% else %>
            <div class="company-name">
              <%= link_to current_company.name, root_path, :class=>"navbar-brand" %>
            </div>
          <% end %>
          </div>
        <div class="navbar-collapse collapse fleft">
          <ul class="nav navbar-nav main_nav">
            <li><a href="/user/edit" class="<%= add_admin_active_class(params) == 'Settings' ? 'active' : '' %>">
              <div class="overview-icon"></div>
              Overview</a></li>
            <% if company_modules_check('Audit') %>
              <li><a href="/audits" class="<%= add_admin_active_class(params) == 'Audit' ? 'active' : '' %>">
                <div class="audit-icon"></div>
                Audit</a></li>
            <% end %>
            <% if company_modules_check('Risk') %>
              <li><a href="/risks" class="<%= add_active_class(params) == 'Risk' ? 'active' : '' %>">
                <div class="risk-icon"></div>
                Risk</a></li>
            <% end %>
            <% if company_modules_check('Asset') %>
              <li><a href="/inventory/information_assets" class="<%= add_active_class(params) == 'Asset' ? 'active' : '' %>">
                <div class="risk-icon"></div>
                Asset</a></li>
            <% end %>
          </ul>
        </div>
        <input type="hidden" id="module" value="<%= add_sub_menu(request.fullpath.split('/')[2])%>">
        <div class="user_login">
          <% unless current_user.attachment.blank? || current_user.attachment.attachment_file.blank? %>
            <%= image_tag(current_user.attachment.attachment_file.small) %>
          <% else %>
            <img src="/assets/outer/user-icon.jpg">
          <% end %>
          <div class="roll-audit"><%= current_user.role_title.humanize.capitalize %></div>
          <div class="user-name"><%= current_user.user_name unless current_user.user_name.blank? %></div>
          <span id="login_drop"><img src="/assets/outer/user-down-arrow.png"></span>

          <div class="account_header_dropdown" style="display: none;">
            <ul>
              <li><%= link_to "User Profile", edit_user_path %></li>
              <li><%= link_to "Audit Trial", activities_path %></li>
              <li><%= link_to "Reset Password", password_user_path %></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            </ul>
          </div>
        </div>
        <!--/.nav-collapse -->
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<div class="sub_menu">
  <!-- Fixed navbar -->
  <div role="navigation" class="navbar navbar-inverse subnavbar-fixed-top">
    <div class="container">
      <ul class="subbar-nav nav navbar-nav">
        <li><a  href="/asset_dashboard" class="<%= (request.fullpath.include?("asset_dashboard") && action_name == "index") == true ? 'active' : '' %>">
            <div class="dash-icon"></div>
            Dashboard</a></li>
            <li><a href="/asset_dashboard/calendar" class="<%= request.fullpath.include?("asset_dashboard/calendar") == true ? 'active' : '' %>">
          <div class="calender-icon"></div>
          Calendar</a></li>
        <li><a  href="/inventory/computers" class="<%= (request.fullpath.include?("computers") || request.fullpath.include?("softwares") || request.fullpath.include?("mobile_assets") || request.fullpath.include?("other_assets") || request.fullpath.include?("services") == true || request.fullpath.include?("documents")) ? 'active' : '' %>">
            <div class="plan-icon"></div>
            Assets</a></li>        
        <li><a  href="/inventory/information_assets/new" class="<%= request.fullpath.include?("information_assets/new") == true ? 'active' : '' %>">
            <div class="plan-icon"></div>
            Register</a></li>
        <li><a  href="/inventory/information_assets" class="<%= (request.fullpath.include?("information_assets") && action_name == "index") == true ? 'active' : '' %>">
            <div class="plan-icon"></div>
            Inventory</a></li>
        <li><a  href="/assets?stage=evaluate" class="<%= (request.fullpath.include?("assessments") || request.fullpath.include?("evaluate")) == true ? 'active' : '' %>">
            <div class="plan-icon"></div>
            Assessment</a></li>
        <li><a  href="/assets?stage=action" class="<%= request.fullpath.include?("action") == true ? 'active' : '' %>">
            <div class="plan-icon"></div>
            Action</a></li>
        <li><a  href="/assets?stage=review" class="<%= request.fullpath.include?("review") == true ? 'active' : '' %>">
            <div class="plan-icon"></div>
            Review</a></li>
        <!-- <li><a  href="/vendors" class="<%#= request.fullpath.include?("vendors") == true ? 'active' : '' %>">
            <div class="plan-icon"></div>
            Vendors</a></li>
        <li><a  href="/contracts" class="<%#= request.fullpath.include?("contracts") == true ? 'active' : '' %>">
            <div class="plan-icon"></div>
            Contracts --></a></li>
        <li><a href="/admin/asset_types" >
          <div class="setting-icon"></div>
          Configure</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- Notice -->
<%if flash[:notice]%>
  <div class="alert alert-success"><button type='button' class='close' data-dismiss='alert'>&times;</button><%= flash[:notice] %></div>
<%end%>
<%if flash[:alert]%>
  <div class="alert alert-info"><button type='button' class='close' data-dismiss='alert'>&times;</button><%= flash[:alert] %></div>
<%end%>
<%if flash[:error]%>
    <div class="alert alert-danger"><button type='button' class='close' data-dismiss='alert'>&times;</button><%= flash[:error]  %></div>
<%end%>
<!-- Notice end -->

<script type="text/javascript">
  $(document).ready(function(){
    var module = $('#module').val()
    $( ".user_login" ).mouseenter(function() {
      $(this).addClass("active");
      $(".account_header_dropdown").slideDown(100);
    })
    .mouseleave(function() {
      $(this).removeClass("active");
      $(".account_header_dropdown").hide();
    });

    $(".next-phase").click(function(){
      // new Messi('Planned for further phases.', {autoclose: '5000'});
      new Messi('Planned for further phases.', {title: 'Warning', titleClass: 'warning', autoclose: 2000});
    });
  });
</script>
