<div class="header">
  <div class="container">
    <!-- Fixed navbar -->
    <div role="navigation" class="navbar navbar-inverse ">
      <div class="container">
        <div class="navbar-header">
          <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <% unless current_company.attachment.blank? %>
            <%= image_tag(current_company.attachment.attachment_file, :class => "navbar-brand") %>
          <% else %>
            <div class="company-name">
              <%= link_to current_company.name, root_path, :class=>"navbar-brand" %>
            </div>
          <% end %>
          </div>
        <div class="navbar-collapse collapse fleft">
          <ul class="nav navbar-nav main_nav">
            <li><a href="/user/edit" class="<%= add_active_class(params) == 'User' ? 'active' : '' %>">
              <div class="overview-icon"></div>
              Over view</a></li>
            <li><a href="/audits" class="<%= add_active_class(params) == 'Audit' ? 'active' : '' %>">
              <div class="audit-icon"></div>
              Audit</a></li>
            <li class="next-phase"><a href="#" class="<%= add_active_class(params) == 'Risk' ? 'active' : '' %>">
              <div class="risk-icon"></div>
              Risk</a></li>
          </ul>
        </div>
        <div class="user_login">
          <% unless current_user.attachment.blank? || current_user.attachment.attachment_file.blank? %>
            <%= image_tag(current_user.attachment.attachment_file.small) %>
          <% else %>
            <img src="/assets/outer/user-icon.jpg">
          <% end %>
          <div class="user-name"><%= current_user.user_name unless current_user.user_name.blank? %></div>
          <span id="login_drop"><img src="/assets/outer/user-down-arrow.png"></span>

          <div class="account_header_dropdown" style="display: none;">
            <ul>
              <li><%= link_to "User Profile", edit_user_path %></li>
              <% if current_user.role.title == "company_admin" %>
                <li><%= link_to "Admin Settings", admin_settings_path %></li>
              <% end %>
              <li><%= link_to "Audit Trail", activities_path %></li>
              <li><%= link_to "Reset Password", password_user_path %></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            </ul>
          </div>
        </div>
        <!--/.nav-collapse -->
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<div class="sub_menu">
  <!-- Fixed navbar -->
  <div role="navigation" class="navbar navbar-inverse subnavbar-fixed-top">
    <div class="container">
      <ul class="subbar-nav nav navbar-nav">
        <li><a href="/audits/audit_dashboard" class="<%= request.fullpath.include?("audits/audit_dashboard") == true ? 'active' : '' %>">
          <div class="dash-icon"></div>
          Dashboard</a></li>
        <li><a href="/dashboard/calender" class="<%= request.fullpath.include?("dashboard/calender") == true ? 'active' : '' %>">
          <div class="calender-icon"></div>
          Calender</a></li>
        <li><a href="/audits/new" class="<%= (request.fullpath.include?("audits/new") && action_name=="new") == true ? 'active' : '' %>">
          <div class="plan-icon"></div>
          Plan</a></li>
        <li><a href="/audits" class="<%= ((request.fullpath.include?("audits") && action_name=="index") == true ? 'active' : '') unless request.fullpath.include? '/audits?stage' %>">
          <div class="list-icon"></div>
          List</a></li>
        <li><a href="<%= '/audits?stage=do' %>" class="<%= ((request.fullpath.include?('stage=do') || request.fullpath.include?("nc_questions/new") || request.fullpath.include?("audit_compliances")) == true) ? 'active' : '' %>">
          <div class="do-icon"></div>
          Do</a></li>
        <li><a href="/audits?stage=check" class="<%= (request.fullpath.include?('stage=check') || request.fullpath.include?("checklist_recommendations/new")) == true ? 'active' : '' %>">
          <div class="check-icon"></div>
          Check</a></li>
        <li><a href="/audits?stage=act" class="<%= (request.fullpath.include?('stage=act') || request.fullpath.include?("checklist_recommendations/auditee_response")) == true ? 'active' : '' %>">
          <div class="act-icon"></div>
          Act</a></li>
        <li><a href="/audits?stage=published" class="<%= (request.fullpath.include?('stage=published') || request.fullpath.include?("checklist_recommendations/audit_observation")) == true ? 'active' : '' %>">
          <div class="published-icon"></div>
          Published</a></li>
        <li><a href="/user/edit" class="<%= request.fullpath.include?("user/edit") == true ? 'active' : '' %>">
          <div class="setting-icon"></div>
          Setting</a></li>
      </ul>
    </div>
  </div>
</div>
<%if flash[:notice]%>
  <div class="alert alert-success"><button type='button' class='close' data-dismiss='alert'>&times;</button><%= flash[:notice] %></div>
<%end%>
<%if flash[:alert]%>
  <div class="alert alert-info"><button type='button' class='close' data-dismiss='alert'>&times;</button><%= flash[:alert] %></div>
<%end%>
<%if flash[:error]%>
    <div class="alert alert-danger"><button type='button' class='close' data-dismiss='alert'>&times;</button><%= flash[:error]  %></div>
<%end%>
<!-- Notice end -->