<div class="header">
  <div class="container">
    <!-- Fixed navbar -->
    <div role="navigation" class="navbar navbar-inverse ">
      <div class="container">
        <div class="navbar-header">
          <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <% unless current_company.attachment.blank? %>
            <%= image_tag(current_company.attachment.attachment_file.small, :class => "navbar-brand") %>
          <% else %>
            <%= link_to current_company.name, root_path, :class=>"navbar-brand" %>
          <% end %>
          </div>
        <div class="navbar-collapse collapse fleft">
          <ul class="nav navbar-nav main_nav">
            <li><a href="/user/edit" class="<%= add_active_class(params) == 'User' ? 'active' : '' %>">
              <div class="overview-icon"></div>
              Over view</a></li>
            <li><a href="/" class="<%= add_active_class(params) == 'Audit' ? 'active' : '' %>">
              <div class="audit-icon"></div>
              Audit</a></li>
            <li class="next-phase"><a href="#" class="<%= add_active_class(params) == 'Risk' ? 'active' : '' %>">
              <div class="risk-icon"></div>
              Risk</a></li>
          </ul>
        </div>
        <div class="user_login">
          <% unless current_user.attachment.blank? || current_user.attachment.attachment_file.blank? %>
            <%= image_tag(current_user.attachment.attachment_file.small) %>
          <% else %>
            <img src="/assets/outer/user-icon.jpg">
          <% end %>
          <div class="user-name"><%= current_user.user_name unless current_user.user_name.blank? %></div>
          <span id="login_drop"><img src="/assets/outer/user-down-arrow.png"></span>

          <div class="account_header_dropdown" style="display: none;">
            <ul>
              <li><%= link_to "User Profile", edit_user_path %></li>
              <% if current_user.role.title == "company_admin" %>
                <li><%= link_to "Admin Settings", admin_settings_path %></li>
              <% end %>
              <li><%= link_to "Audit Trail", activities_path %></li>
              <li><%= link_to "Reset Password", password_user_path %></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            </ul>
          </div>
        </div>
        <!--/.nav-collapse -->
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<div class="sub_menu">
  <!-- Fixed navbar -->
  <div role="navigation" class="navbar navbar-inverse subnavbar-fixed-top">
    <div class="container">
      <ul class="subbar-nav nav navbar-nav">
        <li class="next-phase"><a href="#" class="active">
          <div class="dash-icon"></div>
          Dashboard</a></li>
        <li class="next-phase"><a href="#" >
          <div class="calender-icon"></div>
          Calender</a></li>
        <li class="next-phase"><a href="#">
          <div class="plan-icon"></div>
          Plan</a></li>
        <li class="next-phase"><a href="#">
          <div class="list-icon"></div>
          List</a></li>
        <li class="next-phase"><a href="#">
          <div class="do-icon"></div>
          Do</a></li>
        <li class="next-phase"><a href="#">
          <div class="check-icon"></div>
          Check</a></li>
        <li class="next-phase"><a href="#">
          <div class="act-icon"></div>
          Act</a></li>
        <li class="next-phase"><a href="#">
          <div class="published-icon"></div>
          Published</a></li>
        <li class="next-phase"><a href="#">
          <div class="setting-icon"></div>
          Setting</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- Notice -->
  <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
<!-- Notice end -->

<script type="text/javascript">
  $(document).ready(function(){

    $( ".user_login" ).mouseenter(function() {
      $(this).addClass("active");
      $(".account_header_dropdown").slideDown(100);
    })
    .mouseleave(function() {
      $(this).removeClass("active");
      $(".account_header_dropdown").hide();
    });

    $(".next-phase").click(function(){
      // new Messi('Planned for further phases.', {autoclose: '5000'});
      new Messi('Planned for further phases.', {title: 'Warning', titleClass: 'warning', autoclose: 2000});
    });

  });
</script>