	<div class="menu-admin">
	<input type="hidden" id="module" value="0">
<ul class="subbar-nav nav navbar-nav" >
		<li><a href="/admin/slas" class="<%= request.fullpath.include?("admin/slas") == true ? 'active' : '' %>" >
			SLA</a></li>
			<li><a href="/admin/escalations" class="<%= request.fullpath.include?("admin/escalations") == true ? 'active' : '' %>" >
			Escalation</a></li>
			<li><a href="/admin/incident_categories" class="<%= request.fullpath.include?("admin/incident_categories") == true ? 'active' : '' %>" >
			Category</a></li>
			<li><a href="/admin/incident_impacts" class="<%= request.fullpath.include?("admin/incident_impacts") == true ? 'active' : '' %>" >
			Impact</a></li>
			<li><a href="/admin/incident_origins" class="<%= request.fullpath.include?("admin/incident_origins") == true ? 'active' : '' %>" >
			Origin</a></li>
			<li><a href="/admin/incident_statuses" class="<%= request.fullpath.include?("admin/incident_statuses") == true ? 'active' : '' %>" >
			Status</a></li>
			<li><a href="/admin/sub_categories" class="<%= request.fullpath.include?("admin/sub_categories") == true ? 'active' : '' %>" >
			Sub Category</a></li>
			<li><a href="/admin/incident_priorities" class="<%= request.fullpath.include?("admin/incident_priorities") == true ? 'active' : '' %>" >
			Priority</a></li>
			
	</ul>
	</div>









	 