<div class="menu-admin">
 <ul class="subbar-nav nav navbar-nav">
  <%if company_plan_check%>
  <li><a href="/admin/plans" class="<%= request.fullpath.include?("/admin/plans") == true ? 'active' : '' %>">
          Plan</a></li>
  <%else%>
	    <li><a href="/admin/clients" class="<%= request.fullpath.include?("admin/clients") == true ? 'active' : '' %>">
          Clients</a></li>
	      <li><a href="/admin/locations" class="<%= request.fullpath.include?("admin/locations") == true ? 'active' : '' %>">
          Locations</a></li>
        <li><a href="/admin/departments" class="<%= request.fullpath.include?("admin/departments") == true ? 'active' : '' %>">
          Departments</a></li>
        <li><a href="/admin/teams" class="<%= request.fullpath.include?("admin/teams") == true ? 'active' : '' %>">
          Teams</a></li>
        <li><a href="/admin/roles" class="<%= (request.fullpath.include?("admin/roles") || request.fullpath.include?("admin/privileges")) == true ? 'active' : '' %>">
          Roles</a></li>
        <li><a href="/admin/users" class="<%= request.fullpath.include?("admin/users") == true ? 'active' : '' %>">
          Users</a></li>
        <li><a href="/admin/settings" class="<%= request.fullpath.include?("admin/settings") == true ? 'active' : '' %>">
					Settings</a></li>
				<li><a href="/admin/plans" class="<%= request.fullpath.include?("/admin/plans") == true ? 'active' : '' %>">
          Plan</a></li>
          <% if check_for_free_plan == false %>
          <li><a href="/admin/transactions" class="<%= request.fullpath.include?("/admin/transactions") == true ? 'active' : '' %>">
          Upgrade Payment</a></li>
          <%end%>
          <%end%>
	</ul>
</div>