 <ul class="subbar-nav nav navbar-nav">
    <li><a href="/admin/review_actions" class="<%= request.fullpath.include?("/admin/review_actions") == true ? 'active' : '' %>">Review Actions</a>
    </li>
    <li><a href="/admin/purposes" class="<%= request.fullpath.include?("/admin/purposes") == true ? 'active' : '' %>">Purpose</a>
    </li>
    <li><a href="/admin/policy_statuses" class="<%= request.fullpath.include?("/admin/policy_statuses") == true ? 'active' : '' %>">Policy Status</a>
    </li>
    <li><a href="/admin/policy_kinds" class="<%= request.fullpath.include?("/admin/policy_kinds") == true ? 'active' : '' %>">Policy Kind</a>
    </li>
    <li><a href="/admin/policy_classifications" class="<%= request.fullpath.include?("/admin/policy_classifications") == true ? 'active' : '' %>">Policy Classification</a>
    </li>
    <li><a href="/admin/control_states" class="<%= request.fullpath.include?("/admin/control_states") == true ? 'active' : '' %>">Control States</a>
    </li>
    <li><a href="/admin/control_freqs" class="<%= request.fullpath.include?("/admin/control_freqs") == true ? 'active' : '' %>">Control Frequency</a>
    </li>
    <li><a href="/admin/control_classifications" class="<%= request.fullpath.include?("/admin/control_classifications") == true ? 'active' : '' %>">Control Classification</a>
    </li>
    <li><a href="/admin/audiences" class="<%= request.fullpath.include?("/admin/audiences") == true ? 'active' : '' %>">Audience</a></li>
    <li><a href="/admin/approval_actions" class="<%= request.fullpath.include?("/admin/approval_actions") == true ? 'active' : '' %>">Audience</a>
    </li>
</ul>