<!DOCTYPE html>
<html>
<head>
  <title>AuditRisk</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link href="http://cdn.kendostatic.com/2014.1.416/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="http://cdn.kendostatic.com/2014.1.416/styles/kendo.default.min.css" rel="stylesheet" />
    <script src="http://cdn.kendostatic.com/2014.1.416/js/jquery.min.js"></script>
    <script src="http://cdn.kendostatic.com/2014.1.416/js/kendo.all.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render :partial => "layouts/header" if user_signed_in? %>
<%= yield %>
<div id="dashboard-content"></div>
<%= render :partial => "layouts/footer" %>

</body>
</html>
